<div class="profile-upload">
  <figure *ngIf="!doc_64textString && !teacherData?.profileImage" class="profile-upload-box"><img src="assets/images/m_noimage.jpeg"></figure>
  <figure *ngIf="doc_64textString" class="profile-upload-box"><img src="{{doc_64textString}}"></figure>
  <figure *ngIf="!doc_64textString && teacherData?.profileImage" class="profile-upload-box"><img src="{{dpUrl}}{{teacherData?.profileImage}}"></figure>
  <div class="upload-btn-element">
    <div class="upload-btn-wrapper">
      <button *ngIf="!doc_64textString" class="btn-upload">Change Picture</button>
      <input type="file" name="myfile" (change)="handleFileSelect($event)" />
    </div>
    <button *ngIf="doc_64textString" (click)="uploadProfileImage()" class="btn-upload">Upload</button>
    <!-- <button (click)="removeDp()" class="btn-delete">Remove DP</button> -->
  </div>
</div>

<aside class="siderbar-element">
  <ul class="siderbar-element-list">
    <!-- <li class="pointer" ><a href="#"> Dashboad</a></li> -->
    <li class="pointer" routerLink="/tprofile" routerLinkActive="active"><a> Profile</a></li>
    <li class="pointer" routerLink="/myjobs" routerLinkActive="active"><a> My Jobs</a></li>
    <!-- <li class="pointer" routerLink="/tquery" routerLinkActive="active"><a> Ask Query  </a></li> -->
    <li class="pointer" routerLink="/tcontact" routerLinkActive="active"><a> Contact Admin</a></li>
  </ul>
</aside>
