<app-loginheader></app-loginheader>
<p-toast></p-toast>
<div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar-bg">

          <app-ssidebar></app-ssidebar>
        </div>
        <div class="col-md-9">

          <form (submit)="savequery()"  *ngIf="showForm">
            <h2>Post query</h2>
            <div class="form-field__control">
              <input id="title" type="text"  reqiured="true" [(ngModel)]="title" name="title" class="form-field__input" placeholder=" " />
              <label for="title" class="form-field__label">Title</label>
              <!-- <div *ngIf="title.invalid" class="invalid-feedback">
                <div *ngIf="title.errors.required">Title is required</div>
            </div> -->
            </div>
            <br/>
            <div class="form-group input-element">
              <p-editor [(ngModel)]="question" name="question" required="true" [style]="{'height':'320px'}"></p-editor>
            </div>
            <div class="row" *ngIf="clickPicture">
                    
              <div class="col-md-6">
                  <h5 align="center">Camera</h5> 
                <app-camera *ngIf="clickPicture"  (pictureTaken)="handleImage($event)"></app-camera>    
              </div>
              <div class="col-md-6">   
                <h5 align="center">Snapshot</h5>     
            <div class="snapshot" *ngIf="webcamImage">
              <img [src]="webcamImage.imageAsDataUrl" />
            </div>                
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                  <button type="button" class="btn btn-sm btn-success" (click)="clickPicture=true">Add Picture (WebCam)</button>
                  <div class="submit-btn"><input type="submit" placeholder="" value="Send"></div>
              </div>

              
            </div>
          </form>
          <hr/>
          <h2> My queries  <button style="font-size:15px;" class="btn btn-success btn-sm" (click)="shForm();">Post Query</button></h2>

          <div class="lesson-request"  *ngFor="let qr of queryData" >
            <h2 class="titleQuery" [routerLink]="['/squery',qr.slug]" >{{qr.title}}  <span class="details">Details</span> </h2> 
            <div class="leasson-heading">
              <h3>
                <span>Posted 1hour ago</span>
              </h3>
              <figure>
                <a href="javascript:void()">
                  <img src="./assets/images/heart.png" alt="heart">
                </a>
              </figure>
            </div>
            <div class="leasson-content">
              <div class="list-query-element" [innerHtml]="qr.question.changingThisBreaksApplicationSecurity">

                <!-- <a href="javascript:void()" >more</a> -->
              </div>
              <div class="rating-box row">
                <div class="col-md-5">
                  <p>Student:

                    <a>
                      <i class="fas fa-star"></i>
                    </a>
                    <a>
                      <i class="fas fa-star"></i>
                    </a>
                    <a>
                      <i class="fas fa-star"></i>
                    </a>
                    <a>
                      <i class="fas fa-star"></i>
                    </a>
                    <a>
                      <i class="far fa-star"></i>
                    </a>
                  </p>
                </div>
                <div class="col-md-5">
                  <p>
                    <i class="fas fa-map-marker-alt"></i>
                    <span>India</span>
                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
