<!-- <footer class="ftr-element">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <figure><img src="" alt="Logo"></figure>
        <p class="social-icon">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-vimeo-v"></i></a>

        </p>
      </div>
      <div class="col-md-4">
        <div class="ftr-block">
          <h4>Contact info</h4>
          <ul>
            <li><i class="fas fa-phone-volume"></i> (+61 2) 9251 5600</li>
            <li><i class="fas fa-envelope"></i> longnguyenngoc@gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftr-block">
          <h4>latets tweets</h4>
          <p>FREE! Since Feb2016 #activeden closed by  &copy;EnvatoMarket  now you can download my #flash #animation for #free <a href="#">https://t.co/fZv7VCgHto #freebie</a></p>
        </div>
      </div>
    </div>
  </div>
</footer> -->


<!-- <footer>

<div class="container">
<div class="row">
<div class="col-md-4 col-sm-6 col-xs-12">
<h1 class="logo"><a href="index.html"><img src="http://placehold.it/112x28" alt="Logo"></a></h1>
<ul class="contactinfo">
<li class="address"><strong>Address:</strong> 123, Upwork, Shubham Dalia </li>
<li class="phone"><strong>Phone:</strong>  +123 123 123 12</li>
<li class="email"><strong>E-mail:</strong>  info@helpfulpeer.com</li>
</ul>
<ul class="social">
<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li><li>
<a href="#"><i class="zmdi zmdi-twitter"></i></a></li><li>
<a href="#"><i class="zmdi zmdi-google-old"></i></a></li><li>
<a href="#"><i class="zmdi zmdi-pinterest"></i></a></li><li>
<a href="#"><i class="zmdi zmdi-instagram"></i></a></li><li>
<a href="#"><i class="zmdi zmdi-rss"></i></a></li>
</ul>
</div>
<div class="col-md-2 col-sm-6 col-xs-12">
<h6>GET HELP</h6>
<ul class="information">
<li><a href="#">Help and FAQ</a></li>
<li><a href="#">Video Courses</a></li>
<li><a href="#">Online Booking</a></li>
<li><a href="#">Online Support</a></li>
</ul>
</div>
<div class="col-md-2 col-sm-6 col-xs-12">
<h6>INFORMATION</h6>
<ul class="information">
<li><a href="#">About us</a></li>
<li><a href="#">Our services</a></li>
<li><a href="#">Order history</a></li>
<li><a href="#">Information</a></li>
</ul>
</div>
<div class="col-md-2 col-sm-6 col-xs-12">
<h6>MY ACCOUNT</h6>
<ul class="information">
<li><a href="#">Plans &amp; Pricings</a></li>
<li><a href="#">Favorites</a></li>
<li><a href="#">Personal info</a></li>
<li><a href="#">Login</a></li>
</ul>
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
<h6>QUICKLINKS</h6>
<ul class="information">
<li><a href="#">Video Training</a></li>
<li><a href="#">Online Courses</a></li>
<li><a href="#">Become a teacher</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
</div>
<div class="row botbar">
<div class="col-sm-7">
<p class="copyright">Copyright 2018 © Helpful Peer - Video Learning Platform  | All Rights Reserved</p>
</div>
<div class="col-sm-5">
<ul class=" payments">
<li><a href="#"><img src="http://placehold.it/38x12" alt="Payment"></a></li>
<li><a href="#"><img src="http://placehold.it/27x17" alt="Payment"></a></li>
<li><a href="#"><img src="http://placehold.it/20x18" alt="Payment"></a></li>
<li><a href="#"><img src="http://placehold.it/16x16" alt="Payment"></a></li>
<li><a href="#"><img src="http://placehold.it/25x12" alt="Payment"></a></li>
</ul>
</div>
</div>
</div>

</footer> -->



<footer>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<h1 class="logo"><a href="index.html"><img src="./assets/images/logo.png" alt="Logo"></a></h1>
				<ul class="contactinfo">
					<li class="address"><strong>Address:</strong> 123, Upwork, Shubham Dalia </li>
					<li class="phone"><strong>Phone:</strong>  +123 123 123 12</li>
					<li class="email"><strong>E-mail:</strong>  info@helpfulpeer.com</li>
				</ul>
				<ul class="social">
					<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li><li>
						<a href="#"><i class="zmdi zmdi-twitter"></i></a></li><li>
							<a href="#"><i class="zmdi zmdi-google-old"></i></a></li><li>
								<a href="#"><i class="zmdi zmdi-pinterest"></i></a></li><li>
									<a href="#"><i class="zmdi zmdi-instagram"></i></a></li><li>
										<a href="#"><i class="zmdi zmdi-rss"></i></a></li>
									</ul>
								</div>
								<div class="col-md-2 col-sm-6 col-xs-12">
									<h6>GET HELP</h6>
									<ul class="information">
										<li><a href="#">Help and FAQ</a></li>
										<li><a href="#">Video Courses</a></li>
										<li><a href="#">Online Booking</a></li>
										<li><a href="#">Online Support</a></li>
									</ul>
								</div>
								<div class="col-md-2 col-sm-6 col-xs-12">
									<h6>INFORMATION</h6>
									<ul class="information">
										<li><a href="#">About us</a></li>
										<li><a href="#">Our services</a></li>
										<li><a href="#">Order history</a></li>
										<li><a href="#">Information</a></li>
									</ul>
								</div>
								<div class="col-md-2 col-sm-6 col-xs-12">
									<h6>MY ACCOUNT</h6>
									<ul class="information">
										<li><a href="#">Plans &amp; Pricings</a></li>
										<li><a href="#">Favorites</a></li>
										<li><a href="#">Personal info</a></li>
										<li><a href="#">Login</a></li>
									</ul>
								</div>
								<div class="col-md-2 col-sm-12 col-xs-12">
									<h6>QUICKLINKS</h6>
									<ul class="information">
										<li><a href="#">Video Training</a></li>
										<li><a href="#">Online Courses</a></li>
										<li><a href="#">Become a teacher</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="row botbar">
								<div class="col-sm-7">
									<p class="copyright">Copyright 2018 © Helpful Peer - Video Learning Platform  | All Rights Reserved</p>
								</div>
								<div class="col-sm-5">
									<ul class=" payments">
										<li><a href="#"><img src="http://placehold.it/38x12" alt="Payment"></a></li>
										<li><a href="#"><img src="http://placehold.it/27x17" alt="Payment"></a></li>
										<li><a href="#"><img src="http://placehold.it/20x18" alt="Payment"></a></li>
										<li><a href="#"><img src="http://placehold.it/16x16" alt="Payment"></a></li>
										<li><a href="#"><img src="http://placehold.it/25x12" alt="Payment"></a></li>
									</ul>
								</div>
							</div>
						</div>

					</footer>
