<div>
  <app-loginheader></app-loginheader>
  <section>
    <div class="container">
      <p-growl [(value)]="msgs"></p-growl>
      <div class="row">
        <div class="col-md-3 sidebar-bg">
          <!-- <div class="profile-upload">
          <figure class="profile-upload-box"><img src="assets/images/user1.jpg"></figure>
          <div class="upload-btn-element">
          <div class="upload-btn-wrapper">
          <button class="btn-upload">Edit Profile</button>
          <input type="file" name="myfile" />
        </div>
        <button class="btn-delete">Delete Profile</button>
      </div>
    </div> -->
          <app-ssidebar></app-ssidebar>
        </div>
        <div class="col-md-9">
          <div class="alert alert-warning" *ngIf="!studentdata?.emailVerified">
            <strong>Warning!</strong> Please verify your mail ID. To compelte you account
          </div>
          <div class="right-side-element">
            <div class="edit-detail">
              <div class="row">
                <div class="col-md-12">
                  <div class="heading-title">
                    <h2>Profile </h2>
                    <a href="javascript:void()" (click)="openModalWithClass(template)"><i class="fas fa-pen"></i></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <p><span class="title"> Name:</span> </p>
                    <span class="info"> {{studentdata?.firstname}}</span>
                  </div>
                </div><!-- End col-md-6 -->
                <!-- <div class="col-md-6">
            <div class="form-group">
            <p ><span class="title">Last Name:</span> </p>
            <span class="info"> John</span>
          </div>
        </div> -->
                <!-- End col-md-6 -->

                <div class="col-md-6">
                  <div class="form-group">
                    <p><span class="title">Class:</span> </p>
                    <span class="info" *ngIf="studentdata?.class"> {{studentdata?.class}}</span>
                    <span class="info text-danger" *ngIf="!studentdata?.class">Please enter this field</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <p><span class="title">Age:</span> </p>
                    <span class="info" *ngIf="studentdata?.age"> {{studentdata?.age}}</span>
                    <span class="info text-danger" *ngIf="!studentdata?.age">Please enter age</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <p><span class="title">Email</span> </p>
                    <span class="info"> {{studentdata?.email}}</span>
                  </div>
                </div><!-- End col-md-6 -->
                <div class="col-md-12">
                  <div class="form-group">
                    <p><span class="title">Languages</span> </p>
                    <span class="info" *ngIf="studentdata?.languages">
                      <div class="chip" *ngFor="let lang of studentdata.languages">
                        {{lang.lang_text}}
                      </div>
                    </span>
                    <span class="info text-danger" *ngIf="!studentdata?.languages"> Please fill this field</span>
                  </div>
                </div> <!-- End col-md-6 -->
                <!-- <div class="col-md-6">
        <div class="form-group">
        <p><span class="title">Education</span> </p>
        <span class="info"> Prof., / Ph.D. Physics / Researcher</span>
      </div>
    </div>  -->
                <!-- End col-md-6 -->
                <!-- <div class="col-md-6">
    <div class="form-group">
    <p><span class="title">Skills</span> </p>
    <div class="info">
    <div class="list-detail">
    <span><a>Physics, </a>
    <a>Quantum, </a>
    <a>Science, </a>
    <a>Nano Tech., </a>
  </span>
</div>
</div>
</div>
</div> -->
                <!-- End col-md-6 -->
                <!-- <div class="col-md-12">
<div class="form-group">
<p><span class="title">Address</span> </p>
<div class="info">Punjab, INDIA</div>
</div>
</div>  -->

                <!-- End col-md-12 -->
                <div class="col-md-12">
                  <div class="form-group">
                    <p><span class="title">About Me</span> </p>
                    <div class="info" *ngIf="studentdata?.about">{{studentdata?.about}}</div>
                    <div class="info text-danger" *ngIf="!studentdata?.about">Please fill this field</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <p><span class="title">Hours (Bought Time)</span> </p>
                    <div class="info" *ngIf="studentdata?.hours">{{studentdata?.hours}}</div>
                    <div class="info" *ngIf="!studentdata?.hours">0 Hours</div>
                  </div>
                </div>

                <div class="col-md-12">
                  <button class="btn btn-success">Buy Hours</button>
                </div>
                <!-- End col-md-12 -->
                <!-- <div class="col-md-12">
<div class="form-group">
<p><span class="title">Teach History Feedback</span> </p>
<div class="info">Long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph...</div>
</div>
</div>  -->

                <!-- End col-md-12 -->
              </div>
            </div>
            <!--Edit profile end-->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--modal start here-->
<div class="modal-element-container">
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Proflie</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="edit-profile-editor">
        <form (submit)="editprofile()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <input id="firstname" [(ngModel)]="studentdata.firstname" name="fullname" type="text"
                    class="form-field__input" placeholder=" " />
                  <label for="firstname" class="form-field__label">First name</label>
                </div>
              </div>
            </div>
            <!--End col-md-6-->
            <!-- <div class="col-md-6">
            <div class="form-group input-element">
            <div class="form-field__control">
            <input id="lastname" type="text" class="form-field__input" placeholder=" " />
            <label for="lastname"class="form-field__label">Last name</label>
          </div>
        </div>
      </div> -->
            <!--End col-md-6-->
            <div class="col-md-6">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <select class="form-field__input" name="e_class" [(ngModel)]="studentdata.class">
                    <option value="">Please select class</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12 (Intermediate)</option>

                  </select>
                  <!-- <input id="language" type="text" name="e_age" [(ngModel)]="studentdata.age" class="form-field__input" placeholder=" " />
            <label for="language"class="form-field__label">Age</label> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <input id="language" type="text" name="e_age" [(ngModel)]="studentdata.age" class="form-field__input"
                    placeholder=" " />
                  <label for="language" class="form-field__label">Age</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <input id="email" type="email" name="e_email" [(ngModel)]="studentdata.email"
                    class="form-field__input" placeholder=" " />
                  <label for="email" class="form-field__label">Email</label>
                </div>
              </div>
            </div>
            <!--End col-md-6-->

            <div class="col-md-12">
              <ng-multiselect-dropdown name="lang" [placeholder]="'Select Languages'" [data]="dropdownList"
                [(ngModel)]="studentdata.languages" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>

            </div>
            <!--End col-md-6-->
            <!-- <div class="col-md-6">
    <div class="form-group input-element">
    <div class="form-field__control">
    <tag-input id="skills" [(ngModel)]="education"  name="education" type="text" class="form-field__input" placeholder=" " ></tag-input>
    <label for="education"class="form-field__label">Education</label>
  </div>
</div>
</div> -->
            <!--End col-md-6-->
            <!-- <div class="col-md-6">
<div class="form-group input-element">
<div class="form-field__control">
<tag-input id="skills" [(ngModel)]='skills' type="text" class="form-field__input" placeholder=" " ></tag-input>
<label for="skills"class="form-field__label">Skills</label>

</div>
</div>
</div> -->
            <!--End col-md-6-->
            <!-- <div class="col-md-12">
<div class="form-group input-element">
<div class="form-field__control">
<input id="address" type="text" class="form-field__input" placeholder=" " />
<label for="address"class="form-field__label">Address</label>
</div>
</div>
</div> -->
            <!--End col-md-12-->
            <div class="col-md-12">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <textarea id="about_us" [(ngModel)]="studentdata.about" name="about" class="form-field__textarea"
                    placeholder=" "></textarea>
                  <label for="about_us" class="form-field__label">About Us</label>
                </div>
              </div>
            </div>
            <!--End col-md-12-->
            <!-- <div class="col-md-12">
<div class="form-group input-element">
<div class="form-field__control">
<textarea id="tech-feedback" class="form-field__textarea" placeholder=" "></textarea>
<label for="tech-feedb ack" class="form-field__label">Teach History Feedback</label>
</div>
</div>
</div> -->
            <!--End col-md-12-->
            <div class="col-md-12">
              <div class="submit-btn"><input type="submit" placeholder="" value="submit"></div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>
<!--modal End here-->
