<app-loginheader></app-loginheader>
<div>
  <section>
    <div class="container">
      <p-growl [(value)]="msgs"></p-growl>
      <div class="row">
        <div class="col-md-3 sidebar-bg">
          <app-tsidebar></app-tsidebar>
        </div>
        <div class="col-md-9">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/tcontact">My Queries</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{qryAdminData?.title}}</li>
            </ol>
          </nav>
          <!-- <h2>{{qryAdminData.title}}</h2> -->
          <div class="jumbotron">
            <p><b>Subject :</b> {{qryAdminData?.title}}</p>
            <p><b>Question : </b>{{qryAdminData?.question}}</p>
          </div>
          <hr/>
          <h2>Reply</h2>
          <form [formGroup] = "qryForm"  novalidate  (ngSubmit)="teacherReply()">
            <div class="form-group input-element">
              <div class="form-field__control">
                <input id="query" name="replytext" class="form-field__textarea" formControlName="replytext" placeholder=" "/>
                <label for="about_us" class="form-field__label">Reply Text </label>
                <!-- <span class="text-danger" *ngIf="qryForm.get('replytext').touched && qryForm.get('replytext').invalid">
                <div *ngIf="qryForm.get('replytext').hasError('required')">Error: Field Required</div>
              </span> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="submit-btn"><button type="submit"> <span *ngIf="!querySentLoading">Reply</span> <span *ngIf="querySentLoading"><i class="fa fa-spinner fa-spin"></i> Please Wait </span>  </button></div>
          </div>
        </form>
        <br/>
        <hr/>
        <div class="col-md-12">
          <div class="container">
            <h3>Chat</h3>
            <!-- <div id="messages"> -->
            <div *ngFor="let rep of qryAdminData?.reply">
              <div class="msg-left" *ngIf="rep.userType == 'admin'">
                {{rep.replyText}}
                <br/> <span style="font-size:10px;color:white;">  {{rep.repliedAt |  date :  "dd.MM.y h:mm a" }}</span>
              </div>
              <div class="msg-right" *ngIf="rep.userType == 'teacher'">
                {{rep.replyText}}<br/>
                <span style="font-size:10px;color:white;">  {{rep.repliedAt |  date :  "dd.MM.y h:mm a" }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!--modal start here-->
