

<app-tloginheader></app-tloginheader>
<!-- End header Section -->
<section>
  <div class="container">
 <div *ngIf="!teacherData?.profileImage && !teacherData?.title && !teacherData?.subjects[0] && !teacherData?.languages[0] && !teacherData?.about && !teacherData?.age" class="alert alert-danger">Please edit and complete your profile </div>
    <div class="bg-light-grey profile-detail p20">
      <div class="row align-items-center">
        <div class="col-md-3">
          <figure *ngIf="teacherData?.profileImage" class="profile-detail-figure"><img src="{{dpUrl}}{{teacherData?.profileImage}}" alt="profile"></figure>
          <figure *ngIf="!teacherData?.profileImage" class="profile-detail-figure"><img src="./assets/images/m_noimage.jpeg" alt="profile"></figure>
        </div>
        <div class="col-md-9">
          <div class="profile-detail-content">
            <h4>{{teacherData?.name}}   <i routerLink = "/etprofile" style="cursor:pointer;" class="fa fa-edit"></i></h4>
            <h3>{{teacherData?.title}}</h3>
            <p class="list-content"><span><img src="./assets/images/placeholder.png" alt="location"> Punjab, INDIA</span>
              <span> <img src="./assets/images/speaking.png" alt="language"> <span *ngFor="let language of teacherData?.languages;let i = index">{{language.lang_text}}  <span *ngIf="i < teacherData?.languages.length-1"><b> ,</b> </span></span></span>
            </p>
            <div class="list-detail">
              <span *ngIf="teacherData?.subjects">
                <a *ngFor="let sub of teacherData?.subjects">{{sub.sub_text}}</a>
              </span>
              <span *ngIf="!teacherData?.subjects">
                <a>Add Subjects</a>
              </span>
              <!-- <div class="btn-container"><a href="javascript:void()" id="toggled">more</a></div> -->
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="top-heading text-center">
        <h2>About Me</h2>
      </div>
      <div class="profile-about-content">
        <p *ngIf="teacherData?.about">
          {{teacherData.about}}
        </p>
        <p *ngIf="!teacherData?.about" class="text-danger">
          Please complete this field
        </p>

      </div>
    </div>
  </div>
</section>
<!--footer start-->
<app-footer></app-footer>
