<app-mainheader></app-mainheader>
<!--      end header section-->
<section>
  <div class="container">
    <div class="top-heading text-center">
      <h1>FIND STUDENTS</h1>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="lesson-request"  *ngFor="let qr of queryData" >
          <h2 [routerLink]="['/squery',qr.slug]" >{{qr.title}}</h2>
          <div class="leasson-heading">
            <h3>
              <span>Posted 1hour ago</span>
            </h3>
            <figure>
              <a href="javascript:void()">
                <img src="./assets/images/heart.png" alt="heart">
              </a>
            </figure>
          </div>
          <div class="leasson-content">
            <div class="list-query-element" [innerHtml]="qr.question.changingThisBreaksApplicationSecurity">

              <!-- <a href="javascript:void()" >more</a> -->
            </div>
            <div class="rating-box row">
              <div class="col-md-5">
                <p>Student:

                  <a>
                    <i class="fas fa-star"></i>
                  </a>
                  <a>
                    <i class="fas fa-star"></i>
                  </a>
                  <a>
                    <i class="fas fa-star"></i>
                  </a>
                  <a>
                    <i class="fas fa-star"></i>
                  </a>
                  <a>
                    <i class="far fa-star"></i>
                  </a>
                </p>
              </div>
              <div class="col-md-5">
                <p>
                  <i class="fas fa-map-marker-alt"></i>
                  <span>India</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--lesson-request-->
      </div><!--col-md-9-->

      <div class="col-md-3">
        <aside class="subject-box">
          <h3>My Subjects</h3>
          <p>
            <a href="#">English</a>
            <a href="#">Mathematics</a>
            <a href="#">Physics</a>
            <a href="#">Chemistry</a>
            <a href="#">Machines</a>
            <a href="#">Power Electronics</a>
            <a href="#">Physics</a>
            <a href="#">Chemistry</a>
            <a href="#">Machines</a>

          </p>
        </aside>
      </div>
    </div>
  </div>
</section>
