<app-loginheader></app-loginheader>
<div>
  <section>
    <div class="container">
      <p-growl [(value)]="msgs"></p-growl>
      <div class="row">
        <div class="col-md-3 sidebar-bg">
          <!-- <div class="profile-upload">
          <figure class="profile-upload-box"><img src="assets/images/user1.jpg"></figure>
          <div class="upload-btn-element">
          <div class="upload-btn-wrapper">
          <button class="btn-upload">Edit Profile</button>
          <input type="file" name="myfile" />
        </div>
        <button class="btn-delete">Delete Profile</button>
      </div>
    </div> -->
    <app-ssidebar></app-ssidebar>
  </div>
  <div class="col-md-9">
      <div class="contact-admin">
    <h2>Ask Admin</h2>
    <form [formGroup] = "qryForm"  novalidate  (ngSubmit)="askAdmin()" class="ask-admin-form">
      <div class="form-group input-element">
        <div class="form-field__control">
          <input id="subject" formControlName="title" name="title" type="text" class="form-field__input" placeholder=" " />
          <label for="firstname" class="form-field__label">Query Subject</label>
          <span class="text-danger" *ngIf="qryForm.get('title').touched && qryForm.get('title').invalid">
            <div *ngIf="qryForm.get('title').hasError('required')">Error: Field Required</div>
          </span>
        </div>
        <div class="form-field__control">
          <textarea id="query" name="question" class="form-field__textarea" formControlName="question" placeholder=" "></textarea>
          <label for="about_us" class="form-field__label">Query </label>
          <span class="text-danger" *ngIf="qryForm.get('question').touched && qryForm.get('question').invalid">
            <div *ngIf="qryForm.get('question').hasError('required')">Error: Field Required</div>
          </span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="submit-btn"><button type="submit"> <span *ngIf="!querySentLoading">Send</span> <span *ngIf="querySentLoading"><i class="fa fa-spinner fa-spin"></i> Please Wait </span>  </button></div>
      </div>
    </form>

    <hr/>
    <h2>My Queries</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qry of qryAdminData; let i= index">
            <td>{{i+1}}</td>
            <td>{{qry.title}}</td>
            <td>{{qry.createdAt | date:medium}}</td>
            <td><i [routerLink]="['/scontact',qry._id]" class="fa fa-eye"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  </div>
</div>
</div>
</section>
</div>

<!--modal start here-->
