<div style="text-align:center">
	<div>
		<webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
		 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
		 (initError)="handleInitError($event)"></webcam>
		<br/>
		<!-- <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div> -->
		<div class="container">
		<div class="row">
				<button type="button" class="btn btn-sm btn-success" (click)="triggerSnapshot();" title="Take Picture"><i class="fas fa-camera"></i></button>
				<button type="button"  class="btn btn-sm btn-light" (click)="showNextWebcam(true);" title="Switch Camera">🔁</button>		
		</div>
		
			
		</div>
   	</div>
</div>

<h4 *ngIf="errors.length > 0">Error:</h4>
<ul *ngFor="let error of errors">
	<li>{{error | json}}</li>
</ul>