@media only screen and (max-width:767px){
body
{
    overflow-x: hidden;
}
/* body .hero-element
{
    height:600px !important;
} */
.hero-element .main-nav ul.navbar-nav li a.nav-link {
    color: #59d8fb !important;
}
.hero-element .slick-slide img 
{
    width:auto !important;
} 
   .head-home .topbar-head { 
        position: relative;
        display: block;
        height: auto;
    }
    .topbar-head .navbar-collapse {
        width: 100%;
        position: absolute;
        left: 0;
        overflow: visible;
        background: #fff;
        z-index: 99;
        box-shadow: 0px 2px 4px #e7e0e0;
    } 
    .top-head-inner
    {
        display: flex; 
    }
    .top-head-inner .navbar-toggler{
        margin-left: auto;
        color:#59d8fb;
        outline: none;
    }
    .hero-element-inner
    {
       margin-top: 30px;
    }
    .main-nav .header-right
    {
        
        padding: 20px;
        margin: 0px;
        margin-top: 0px !important;
    }
    .main-nav ul.navbar-nav li a.nav-link
    {
        height: 60px;
    } 
    .hero-element-inner h1
    {
        font-size: 40px;
    }
    .hero-element-inner .blue-btn{
        display: block;
    margin-bottom: 20px;
    }
.login-box {
    padding: 15px;
}
.top-heading h1{
    padding: 0px 15px;
}
.top-heading h2
    {
        padding: 0px 10px;
    }
h1{
    font-size: 24px;
}
.feature-element-inner
{
    padding: 0px 40px;
} 
.profile-detail-figure
    {
        text-align: center;
    }
    .categories-element
    {
        padding-bottom: 0px;
    }
    .categories-element .category .overlay p
    {
        width:50%;
    }
    .signup_element-box p {
        font-size: 12px;
        letter-spacing: 8px;
    }
    .signup_element-box h4
    {
        font-size: 30px;
    }
    .hero-element-inner h6
    {
        font-size:18px;
    }
    .feature-element-inner .slick-prev:before,.feature-element-inner .slick-next:before{
        font-size:20px;
    }
    .slick-slide img 
{
    max-width:none !important;
}
.testimonial-element .slick-slider .slick-next
{
    right: 30%;
}
.testimonial-element .slick-slider .slick-prev
{
    left: 30%;
}

    .list-detail a{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }
    footer h6 {
        margin-top: 15px;
    }
    footer .botbar
    {
        margin-top: 10px;
    }
    footer .copyright
    {
        text-align: center;
        line-height: 30px;
        margin-bottom: 0px;
    }
    footer .payments {
        text-align: center;
      }
      .why-choose
      {
          background-image:none;
      }
      .user_register-element .col-md-6:first-child .user_register {
        border-right: none;
    }
}