<app-mainheader></app-mainheader>
<p-growl [(value)]="msgs"></p-growl>
<!--      end header section-->
<section class="login-element">
  <div class="row">
    <div class="col-md-6">
      <figure><img src="./assets/images/login-image.png" alt="people"></figure>
    </div>
    <div class="col-md-6 bg-blue">
      <div class="login-box">
        <h2 class="text-white">Student Sign-Up</h2>
        <!--->h3 class="text-white">Student Sign-Up</h3-->

        <div class="tabs-element">
          <!-- Nav tabs -->
          <!-- <ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#home">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#menu1">Register</a>
							</li>

						</ul> -->

          <!-- Tab panes -->
          <div class="tab-content tab-block">
            <div class="tab-pane container " id="home">
              <!-- <form	[formGroup] = "loginForm"  novalidate (ngSubmit)="authenticate()">
									<div class="form-group">
										<label>Email :
											<span class="text-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
												<div *ngIf="loginForm.get('email').hasError('required')">Error: Field Required</div>
												<div *ngIf="loginForm.get('email').hasError('email')">Erorr: Invalid Email</div>
											</span>
										</label>
										<input type="email" formControlName="email" placeholder="Enter Your Email" name="email" />

									</div>
									<div class="form-group">
										<label>Password :
											<span class="text-danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
												<div *ngIf="loginForm.get('password').hasError('required')">Error: Field Required</div>
												<div *ngIf="loginForm.get('password').hasError('minlength')">Error: Length should be greated than 7</div>
											</span>
										</label>
										<input type="password" formControlName="password" placeholder="Password" name="password"/>

									</div>
									<div class="form-group">
										<input type="submit" value="Login">
										<a href="javascript:void()" class="text-white forgot-pasword">Forgot Password?</a>
									</div>
								</form> -->
            </div>
            <div class="tab-pane container active" id="menu1">
              <!-- <form (submit)="register($event)">
								<div class="form-group">
								<input name="stname" [(ngModel)]="name" placeholder="Enter your name">
							</div>
							<button type="submit">submit</button>
						</form> -->

              <form [formGroup]="regForm" novalidate (ngSubmit)="register()">

                <div class="form-group">
                  <label>Full Name :</label>
                  <div class="validation-element"><span class="text-danger"
                      *ngIf="regForm.get('name').touched && regForm.get('name').invalid">
                      <div *ngIf="regForm.get('name').hasError('required')">Full Name Is Required</div>
                    </span></div>
                  <input type="text" name="name" formControlName="name" placeholder="Enter Your Full Name"
                    required="true" autofocus="on" />
                </div>

                <div class="form-group">
                  <label>Age :</label>
                  <div class="validation-element">
                    <span class="text-danger" *ngIf="regForm.get('age').touched && regForm.get('age').invalid">
                      <div *ngIf="regForm.get('age').hasError('required')">Age Is Required</div>
                      <!-- <p *ngIf="regForm.get('age').hasError('pattern')" class="text-danger">Number Only</p> -->
                    </span>
                  </div>
                  <input type="number" min="10" max="99" name="name" formControlName="age" placeholder="Enter Your Age"
                    required="true" />
                </div>

                <div class="form-group">
                  <label>Class :</label>
                  <div class="validation-element">
                    <span class="text-danger" *ngIf="regForm.get('class').touched && regForm.get('class').invalid">
                      <div *ngIf="regForm.get('class').hasError('required')">Class Is Required</div>
                    </span>
                  </div>
                  <select formControlName="class" name="class" class="form-control" required="true">
                    <option value="">Select Your Class</option>
                    <option value='1'>I</option>
                    <option value='2'>II</option>
                    <option value='3'>III</option>
                    <option value='4'>IV</option>
                    <option value='5'>V</option>
                    <option value='6'>VI</option>
                    <option value='7'>VII</option>
                    <option value='8'>VIII</option>
                    <option value='9'>IX</option>
                    <option value='10'>X</option>
                    <option value='11'>XI</option>
                    <option value='12'>XII (Intermediate)</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Email :</label>
                  <div class="validation-element">
                    <span class="text-danger" *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
                      <div *ngIf="regForm.get('email').hasError('required')">Email Is Required</div>
                      <div *ngIf="regForm.get('email').hasError('email')"> Invalid Email</div>
                    </span>
                  </div>
                  <input type="email" name="email" formControlName="email" placeholder="Enter Your Email"
                    required="true" />
                  <!-- (blur)="checkStudentEmail()"  -->
                </div>

                <div class="form-group">
                  <label>Password :</label>
                  <div class="validation-element">
                    <span class="text-danger"
                      *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
                      <div *ngIf="regForm.get('password').hasError('required')">Password Is Required</div>
                      <div *ngIf="regForm.get('password').hasError('minlength')">Length should be greater than 7</div>
                    </span>
                  </div>
                  <input type="password" required="true" minlength="7" formControlName="password"
                    placeholder="Enter Your Password" name="password" />
                </div>

                <div class="form-group">
                  <input type="submit" value="Register">
                  <i class="fa fa-spinner fa-spin" *ngIf="regLoading"></i>
                </div>

              </form>
            </div>
            <div class="other-login">
              <p>
                or login with<a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-md-7-->

  </div>
  <!--row-->
</section>
<!--login-element-->
<app-footer></app-footer>
