<app-mainheader></app-mainheader>
<section class="page-heading">
    <div class="container">
        <div class="top-heading-element text-center">
                <h1>Pricing Plans</h1>
        </div>
    </div>
</section>
<section class="pricing-element">
    <div class="container pricings">
            <div class="row text-center">
                    <div class="col-md-3 col-sm-6">
                        <div class="plan">
                            <p class="ribbon">MOST POPULAR</p>
                            <p class="price">45</p>
                            <p class="crew">1-5 PROFESSIONALS</p>
                            <div class="plan-details">
                                <p>Unlimited Courses</p>
                                <p>Online pass purchases</p>
                                <p>Online class reservations</p>
                                <p>Full Library Entry</p>
                                <p>Promo Code feature</p>
                            </div>
                            <a href="#"><i class="fas fa-caret-right"></i>FREE TRIAL</a>
                            <a href="#"><i class="fas fa-caret-right"></i>ORDER NOW</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="plan mostpopular">
                            <p class="ribbon">MOST POPULAR</p>
                            <p class="price">59</p>
                            <p class="crew">6-10 PROFESSIONALS</p>
                            <div class="plan-details">
                                <p>Unlimited Courses</p>
                                <p>Online pass purchases</p>
                                <p>Online class reservations</p>
                                <p>Full Library Entry</p>
                                <p>Promo Code feature</p>
                            </div>
                            <a href="#"><i class="fas fa-caret-right"></i>FREE TRIAL</a>
                            <a href="#"><i class="fas fa-caret-right"></i>ORDER NOW</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="plan">
                            <p class="ribbon">MOST POPULAR</p>
                            <p class="price">99</p>
                            <p class="crew">11-15 PROFESSIONALS</p>
                            <div class="plan-details">
                                <p>Unlimited Courses</p>
                                <p>Online pass purchases</p>
                                <p>Online class reservations</p>
                                <p>Full Library Entry</p>
                                <p>Promo Code feature</p>
                            </div>
                            <a href="#"><i class="fas fa-caret-right"></i>FREE TRIAL</a>
                            <a href="#"><i class="fas fa-caret-right"></i>ORDER NOW</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="plan">
                            <p class="ribbon">MOST POPULAR</p>
                            <p class="price">119</p>
                            <p class="crew">OVER 15 PROFESSIONALS</p>
                            <div class="plan-details">
                                <p>Unlimited Courses</p>
                                <p>Online pass purchases</p>
                                <p>Online class reservations</p>
                                <p>Full Library Entry</p>
                                <p>Promo Code feature</p>
                            </div>
                            <a href="#"><i class="fas fa-caret-right"></i>FREE TRIAL</a>
                            <a href="#"><i class="fas fa-caret-right"></i>ORDER NOW</a>
                        </div>
                    </div>
                </div>
    </div>
</section>
<app-footer></app-footer>