<header>
  <nav class="navbar navbar-expand-lg main-nav">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt="logo" /></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" style="color:black !important" href="javascript:void(0)">Find Jobs</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link disabled" style="color:black !important" href="javascript:void(0)">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" style="color:black !important" href="javascript:void(0)">Messages</a>
          </li> -->
        </ul>
        <ul class=" my-2 my-lg-0 header-right">
          <li class="nav-item">
            <a class="nav-link" style="color:black !important" routerLink="/jobs">Find Jobs</a>
          </li>
          <li>
            <div class="notification-icon" style="margin-right: 12px;">
              <i class="fas fa-bell"></i>
              <span>4</span>
            </div>
          </li>
          <li></li>
          <li>
            <!-- <div class="profile-box">
            <figure>
            <img src="./assets/images/proflie.png" alt="profile">
          </figure>{{name}}
        </div> -->
            <div class="dropdown dropdown-header-inner">
              <button class="btn btn-default dropdown-toggle dropdown-header-inner-btn" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- <img src="./assets/images/proflie.png" alt="profile" style="height:40px;"> -->
                <img *ngIf="!dpUrl && teacherData?.profileImage" class="image_profile"
                  src="{{ dpUrl }}{{ teacherData?.profileImage }}" alt="profile" style="height:40px;" />
              </button>
              <div class="dropdown-menu dropwdown-menu-items" aria-labelledby="dropdownMenuButton">
                <h5 class="dropwdown-menu-items-heading text-white">
                  {{ name }}
                </h5>
                <a class="dropdown-item dropwdown-menu-items-list" href="#">Dashboard</a>
                <a class="dropdown-item dropwdown-menu-items-list" (click)="logout()">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>