.student-job-profile{
  /*border: 1px solid #ccc;*/
width: 72px;
height: 72px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}
figure{
margin:0 0 0 !important;
}
.checked {
  color: orange;
}
