<div class="profile-upload">
  <figure *ngIf="!dp_64textString && !studentData?.profileImage" class="profile-upload-box"><img src="assets/images/m_noimage.jpeg"></figure>
  <figure *ngIf="dp_64textString" class="profile-upload-box"><img src="{{dp_64textString}}"></figure>
  <figure *ngIf="!dp_64textString && studentData?.profileImage" class="profile-upload-box"><img src="{{dpUrl}}{{studentData?.profileImage}}"></figure>
  <div class="upload-btn-element">
    <div class="upload-btn-wrapper">
      <button *ngIf="!dp_64textString" class="btn-upload">Change Picture</button>
      <input type="file" name="myfile" (change)="handleFileSelect($event)" />
    </div>
    <button *ngIf="dp_64textString && !studentData?.profileImage" (click)="uploadProfileImage()" class="btn-upload">Upload <i *ngIf="imageLoader" class="fa fa-spinner fa-spin"></i> </button>
    <button *ngIf="studentData?.profileImage" (click)="removeStudentDp()" class="btn-delete">Remove DP</button>
  </div>
</div>




<aside class="siderbar-element">
  <ul class="siderbar-element-list">
    <!-- <li class="pointer" ><a href="#"> Dashboad</a></li> -->
    <li class="pointer" routerLink="/eprofile" routerLinkActive="active"><a> Profile</a></li>
    <li class="pointer" routerLink="/squery" routerLinkActive="active"><a> Ask Query  </a></li>
    <li class="pointer" routerLink="/scontact" routerLinkActive="active"><a> Contact Admin</a></li>
  </ul>
</aside>
