<app-mainheader></app-mainheader>
<section class="page-heading">
    <div class="container">
        <div class="top-heading-element text-center">
                <h1>Our Vision</h1> 
        </div>
    </div>
</section>
<section class="vision-element">
  <div class="container text-center">
		<div class="row">
			<div class="col-md-4">
				<div class="platform-feature">
					<img src="./assets/images/101.png" alt="Feature">
					<a href="#">Inspirational Ideas</a>
					<p>
						Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
						lobortis nisl ut aliquip ex ea commodo consequat. 
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="platform-feature">
					<img src="./assets/images/102.png" alt="Feature">
					<a href="#">Handcrafted &amp; Selfmade</a>
					<p>
						Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
						lobortis nisl ut aliquip ex ea commodo consequat. 
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="platform-feature">
					<img src="./assets/images/103.png" alt="Feature">
					<a href="#">Perfection on time</a>
					<p>
						Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
						lobortis nisl ut aliquip ex ea commodo consequat. 
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="video-plat">
	<div class="container">
			<div class="step-heading text-center">
			 <h2>Explore Bromine Video Platform</h2>
				<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
					no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, coniam voluptua.</p>
			</div>
			<div class="row text-center service-categories">
					<div class="col-md-4 col-sm-6">
						<div class="category-with-bg cat1">
							<figure><img src="./assets/images/vision-1.jpg"></figure>
							<h5>Content-Management-Systems(CMS)</h5>
							<p>IT-Service for CMS like WordPress</p>
							<a href="#" class="goto">></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
							
						<div class="category-with-bg cat2">
								<figure><img src="./assets/images/vision-2.jpg"></figure>
							<h5>User Experience / UX Design</h5>
							<p>Workshop for UX Design</p>
							<a href="#" class="goto">></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
							
						<div class="category-with-bg cat3">
								<figure><img src="./assets/images/vision-3.jpg"></figure>
							<h5>Typography &amp; Writing</h5>
							<p>Work with InDesign</p>
							<a href="#" class="goto">></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"> 
							
						<div class="category-with-bg cat4">
								<figure><img src="./assets/images/vision-4.jpg"></figure>
							<h5>Digital Publication</h5>
							<p>Learn how to publish online</p>
							<a href="#" class="goto">></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="category-with-bg cat5">
								<figure><img src="./assets/images/vision-5.jpg"></figure>
							<h5>Layouts for Print Design</h5>
							<p>Illustrations for Print</p>
							<a href="#" class="goto">></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="category-with-bg cat6">
								<figure><img src="./assets/images/vision-6.jpg"></figure>
							<h5>Digital Marketing (SEO)</h5>
							<p>Tutorial to use Search Engines</p>
							<a href="#" class="goto">></a>
						</div>
					</div>
				</div>
					<div class="row text-center service-categories" id="loadmore">
							<div class="col-md-4 col-sm-6">
								<div class="category-with-bg cat1">
									<figure><img src="./assets/images/vision-1.jpg"></figure>
									<h5>Content-Management-Systems(CMS)</h5>
									<p>IT-Service for CMS like WordPress</p>
									<a href="#" class="goto">></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
									
								<div class="category-with-bg cat2">
										<figure><img src="./assets/images/vision-2.jpg"></figure>
									<h5>User Experience / UX Design</h5>
									<p>Workshop for UX Design</p>
									<a href="#" class="goto">></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
									
								<div class="category-with-bg cat3">
										<figure><img src="./assets/images/vision-3.jpg"></figure>
									<h5>Typography &amp; Writing</h5>
									<p>Work with InDesign</p>
									<a href="#" class="goto">></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6"> 
									
								<div class="category-with-bg cat4">
										<figure><img src="./assets/images/vision-4.jpg"></figure>
									<h5>Digital Publication</h5>
									<p>Learn how to publish online</p>
									<a href="#" class="goto">></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="category-with-bg cat5">
										<figure><img src="./assets/images/vision-5.jpg"></figure>
									<h5>Layouts for Print Design</h5>
									<p>Illustrations for Print</p>
									<a href="#" class="goto">></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="category-with-bg cat6">
										<figure><img src="./assets/images/vision-6.jpg"></figure>
									<h5>Digital Marketing (SEO)</h5>
									<p>Tutorial to use Search Engines</p>
									<a href="#" class="goto">></a>
								</div>
							</div>
							</div>
					<a href="javascript:void()" class="loadmore blue-btn" id="loadmore-btn" (click)="btnclick()">LOAD MORE</a> 
				
	</div>
</section>
<!-- End Section -->
<section class="signup_element-box equal">
	<div class="container">
		<p>ONLINE LEARNING FROM EVERYWHERE</p>
		<h4>Are you ready to start learning?</h4>
		<a href="#" class="blue-btn">SIGN UP TODAY</a>
	</div>
</section>
<!-- End Section -->
<section class="whyus">
	<div class="container">
			<div  class="step-heading text-center">
				<h2>Why to choose us</h2>			
			</div>
			<div class="row">
					<div class="col-md-4">
						<h6>More than 1000+ video tutorials in our library</h6>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
							nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
							vulputate velit esse molestie consequat.
						</p>
					</div>
					<div class="col-md-4">
						<h6>Learn form our professional teachers </h6>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
							nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
							vulputate velit esse molestie consequat.
						</p>
					</div>
					<div class="col-md-4">
						<h6>Become an expert in your business</h6>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
							nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
							vulputate velit esse molestie consequat.
						</p>
					</div>
				</div>
		</div>
</section>
<app-footer></app-footer>