

	<app-mainheader></app-mainheader>
	<p-growl [(value)]="msgs"></p-growl>
	<!--      end header section-->
	<section class="login-element">
		<div class="row">
			<div class="col-md-5">
				<figure><img src="./assets/images/login-image.png" alt="people"></figure>
			</div>
			<div class="col-md-7 bg-blue">
				<div class="login-box">
					<h2 class="text-white">Sed quia non numquam eius modi tempora incidunt ut labore</h2>
					<h3 class="text-white">Teachers Sign-In/Sign-Up</h3>

					<div class="tabs-element">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#home">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#menu1">Register</a>
							</li>

						</ul>

						<!-- Tab panes -->
						<div class="tab-content tab-block">
							<div class="tab-pane container active" id="home">
								<form	[formGroup] = "loginForm"  novalidate (ngSubmit)="authenticate()">
									<div class="form-group">
										<label>Email :
											
										</label>
										<div class="validation-element">
												<span class="text-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
														<div *ngIf="loginForm.get('email').hasError('required')">Error: Field Required</div>
														<div *ngIf="loginForm.get('email').hasError('email')">Erorr: Invalid Email</div>
													</span>
										</div>
										<input type="email" formControlName="email" placeholder="Enter Your Email" name="email" />

									</div>
									<div class="form-group">
										<label>Password :
											
										</label>
										<div class="validation-element"><span class="text-danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
												<div *ngIf="loginForm.get('password').hasError('required')">Error: Field Required</div>
												<div *ngIf="loginForm.get('password').hasError('minlength')">Error: Length should be greated than 7</div>
											</span></div>
										<input type="password" formControlName="password" placeholder="Password" name="password"/>

									</div>
									<div class="form-group">
										<input type="submit" value="Login">
										<a href="javascript:void()" class="text-white forgot-pasword">Forgot Password?</a>
									</div>
								</form>
							</div>
							<div class="tab-pane container fade" id="menu1">
								<!-- <form (submit)="register($event)">
								<div class="form-group">
								<input name="stname" [(ngModel)]="name" placeholder="Enter your name">
							</div>
							<button type="submit">submit</button>
						</form> -->

						<form [formGroup] = "regForm"  novalidate (ngSubmit)="register()" >
							<div class="form-group">
								<label>
									Full Name :
									<span class="text-danger" *ngIf="regForm.get('name').touched && regForm.get('name').invalid">
										<div *ngIf="regForm.get('name').hasError('required')">Error: Field Required</div>
									</span>
								</label>
								<input type="text" name="name" formControlName="name" placeholder="Enter Your Name" />
							</div>

							<div class="form-group">
								<label>Email :
									<span class="text-danger" *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
										<div *ngIf="regForm.get('email').hasError('required')">Error: Field Required</div>
										<div *ngIf="regForm.get('email').hasError('email')">Erorr: Invalid Email</div>
									</span>
								</label>
								<input type="email" formControlName="email" name="email" placeholder="Enter Your Email" />
							</div>
							<div class="form-group">
								<label>Password :
									<span class="text-danger" *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
										<div *ngIf="regForm.get('password').hasError('required')">Error: Field Required</div>
										<div *ngIf="regForm.get('password').hasError('minlength')">Error: Length should be greated than 7</div>
									</span>
								</label>
								<input type="password" formControlName="password" placeholder="Password"  name="password"/>
							</div>
							<div class="form-group">

								<input type="submit" value="Sign In"><i class="fa fa-spinner fa-spin" *ngIf="regLoading"></i>
							</div>
						</form>
					</div>
					<div class="other-login">
						<p>
							or login with <a href="javascript:void(0)">Facebook</a>
							<a href="javascript:void(0)">Google</a>
							<a href="javascript:void(0)">Linkedin</a>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div><!--col-md-7-->

</div> <!--row-->
</section><!--login-element-->
<footer class="ftr-element">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<figure><img src="" alt="Logo"></figure>
				<p class="social-icon">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-vimeo-v"></i></a>
				</p>
			</div>
			<div class="col-md-4">
				<div class="ftr-block">
					<h4>Contact info</h4>
					<ul>
						<li><i class="fas fa-phone-volume"></i> (+61 2) 9251 5600</li>
						<li><i class="fas fa-envelope"></i> longnguyenngoc@gmail.com</li>
						<li><i class="fas fa-map-marker-alt"></i>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="ftr-block">
					<h4>latets tweets</h4>
					<p>FREE! Since Feb2016 #activeden closed by  &copy;EnvatoMarket  now you can download my #flash #animation for #free <a href="#">https://t.co/fZv7VCgHto #freebie</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>
