<app-loginheader></app-loginheader>
<!-- End header Section -->
<section>

  <div class="container">
    <div class="alert alert-warning" *ngIf="!studentdata?.emailVerified">
      <strong>Warning!</strong> Please verify your mail ID. To compelte you account
    </div>
    <div class="bg-light-grey profile-detail p20">
      <div class="row align-items-center">
        <div class="col-md-2">
          <figure class="profile-detail-figure"><img src="./assets/images/student-profile.png" alt="profile"></figure>
        </div>
        <div class="col-md-10">
          <div class="profile-detail-content">
            <h4>{{studentdata?.firstname}}
              <i routerLink="/eprofile" style="cursor:pointer;" class="fa fa-edit"></i> </h4>
            <h4> <i class="fa fa-user"></i>Age - {{studentdata?.age}} / Class - {{studentdata?.class}}</h4>
            <p class="list-content">
              <!-- <span><img src="./assets/images/placeholder.png" alt="location"> Punjab, INDIA</span> -->
              <span> <img src="./assets/images/speaking.png" alt="language">
                <span *ngFor="let lang of studentdata?.languages"> {{lang.lang_text}}</span>
              </span></p>
            <div class="list-detail">
              <span><a> Physics</a>
                <a>Quantum</a>
                <a>Science</a>
                <a>Nano Tech.</a>
                <a>Physics</a> </span>
              <span id="list-hide">
                <a>Physics</a>
                <a>Quantum</a>
                <a>Science</a>
                <a>Nano Tech.</a>
                <a>Physics</a>
              </span>
              <div class="btn-container"><a href="javascript:void()" id="toggled">more</a></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="top-heading text-center">
        <h2>About Me</h2>
      </div>
      <div class="profile-about-content">
        {{studentdata?.about}} <a href="javascript:void()" class="more" id="toggled1">more</a>
      </div>
    </div>

    <!-- <div class="bg-light-grey p20 mt10">
        <div class="top-heading text-center">
          <h2>Teach history & feedback</h2>
        </div>
        <div class="profile-about-content">
          long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph... <span id="content-hide1">long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph lorem ipsumsn paragraph lorem ipsum paragraph lorem ipsum paragraph lorem long term loremipsum paragraph</span> <a href="javascript:void()" class="more" id="toggled2">more</a>
        </div>
      </div> -->
  </div>
</section>
<!--footer start-->
<app-footer></app-footer>
<!-- <footer class="ftr-element">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <figure><img src="" alt="Logo"></figure>
          <p class="social-icon">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-vimeo-v"></i></a>
          </p>
        </div>
        <div class="col-md-4">
          <div class="ftr-block">
            <h4>Contact info</h4>
            <ul>
              <li><i class="fas fa-phone-volume"></i> (+61 2) 9251 5600</li>
              <li><i class="fas fa-envelope"></i> longnguyenngoc@gmail.com</li>
              <li><i class="fas fa-map-marker-alt"></i>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ftr-block">
            <h4>latets tweets</h4>
            <p>FREE! Since Feb2016 #activeden closed by  &copy;EnvatoMarket  now you can download my #flash #animation for #free <a href="#">https://t.co/fZv7VCgHto #freebie</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
