

	<app-mainheader></app-mainheader>
	<p-growl [(value)]="msgs"></p-growl>
	<!--      end header section-->
	<section class="login-element">
		<div class="row">
			<div class="col-md-6">
				<figure><img src="./assets/images/login-image.png" alt="people"></figure>
			</div>
			<div class="col-md-6 bg-blue">
				<div class="login-box">
					<h2 class="text-white">Teachers Sign-Up </h2>
					<!-->h3 class="text-white">Teachers Sign-Up</h3-->

					<div class="tabs-element">
						<!-- Nav tabs -->
						<!-- <ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#home">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#menu1">Register</a>
							</li>

						</ul> -->

						<!-- Tab panes -->
						<div class="tab-content tab-block">
							<div class="tab-pane container " id="home">
							</div>
							<div class="tab-pane container active" id="menu1">
								<!-- <form (submit)="register($event)">
								<div class="form-group">
								<input name="stname" [(ngModel)]="name" placeholder="Enter your name">
							</div>
							<button type="submit">submit</button>
						</form> -->

						<form [formGroup] = "regForm"  novalidate (ngSubmit)="register()" >
							<div class="form-group">
								<label>
									Full Name :
									
								</label>
								<div class="validation-element"><span class="text-danger" *ngIf="regForm.get('name').touched && regForm.get('name').invalid">
									<div *ngIf="regForm.get('name').hasError('required')">Field Required</div>
								</span>
								<input type="text" name="name" formControlName="name" placeholder="Enter Your Name" />
							</div>
							</div>

							<div class="form-group">
								<label>Email :
									
								</label>
								<div class="validation-element">
										<span class="text-danger" *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
												<div *ngIf="regForm.get('email').hasError('required')"> Field Required</div>
												<div *ngIf="regForm.get('email').hasError('email')">Invalid Email</div>
											</span>
								<input type="email" formControlName="email" name="email" placeholder="Enter Your Email" />
								</div>
							</div>
							<div class="form-group">
								<label>Password :
		
								</label>
								<div class="validation-element">
								<span class="text-danger" *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
										<div *ngIf="regForm.get('password').hasError('required')">Field Required</div>
										<div *ngIf="regForm.get('password').hasError('minlength')">Length should be greated than 7</div>
									</span>
								<input type="password" formControlName="password" placeholder="Password"  name="password"/>
								
							</div>
							</div>
							<div class="form-group">

								<input type="submit" value="Sign In"><i class="fa fa-spinner fa-spin" *ngIf="regLoading"></i>
							</div>
						</form>
					</div>
					<div class="other-login">
						<p>
							or login with<a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
							<a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
							<a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div><!--col-md-7-->

</div> <!--row-->
</section><!--login-element-->
<!-- <footer class="ftr-element">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<figure><img src="" alt="Logo"></figure>
				<p class="social-icon">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-vimeo-v"></i></a>
				</p>
			</div>
			<div class="col-md-4">
				<div class="ftr-block">
					<h4>Contact info</h4>
					<ul>
						<li><i class="fas fa-phone-volume"></i> (+61 2) 9251 5600</li>
						<li><i class="fas fa-envelope"></i> longnguyenngoc@gmail.com</li>
						<li><i class="fas fa-map-marker-alt"></i>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="ftr-block">
					<h4>latets tweets</h4>
					<p>FREE! Since Feb2016 #activeden closed by  &copy;EnvatoMarket  now you can download my #flash #animation for #free <a href="#">https://t.co/fZv7VCgHto #freebie</a></p>
				</div>
			</div>
		</div>
	</div>
</footer> -->
<app-footer></app-footer>
