

<div >  
  <app-tloginheader></app-tloginheader>
  <section>
    <p-growl [(value)]="msgs"></p-growl>
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar-bg">
          <!-- <app-tsidebar></app-tsidebar> -->
          <app-ssidebar></app-ssidebar>

        </div>
        <div class="col-md-9">
          <hr/>
<!-- 
          <div class="remote-containers">
            <div class="remote_calls" *ngFor="let remote of remoteCalls;" [id]="remote">
            </div>
          </div>
          <div id="agora_local">
          </div>
          <button (click)="startcall()" class="btn btn-success">Start Call</button>
          <button (click)="endCall()" class="btn btn-danger">End Call</button>
 -->
<div class="row">
<div class="col-md-12">          
 <div id="div_device" >
  <div class="audio_source">
    <label for="audioSource" >Audio source :   </label><select id="audioSource" class="options"></select>
  </div>
  <div class="video_source" > 
    <label for="videoSource" >Video source   : </label><select id="videoSource" class="options"></select>
  </div>
</div>

  
  <div id="div_join" >
        <div >
        <!-- App ID: <input id="appId" type="text" value="" size="36" /> -->
      <!-- </input> -->
        Room Id : <input id="channel" type="text" value="" size="8" class="options"  />
      <!-- </input> -->
        <input id="video" style="visibility:hidden" type="checkbox" checked />
      <!-- </input> -->
        <button id="join" class="videoJoin" (click)="join()">Join</button>
        <button id="leave" class="videoJoin" (click)="leave()">Leave</button>
        <!-- <button id="publish" class="btn btn-primary" (click)="publish()">Publish</button>
        <button id="unpublish" class="btn btn-primary" (click)="unpublish()">Unpublish</button> -->
        </div>
  </div>
</div>
</div>
<div class="row">
   <div class="col-md-12">
      <div id="video" style="margin:0 auto;margin-bottom:10px;">
          <div id="agora_local" class="video-small-size"></div>
      </div>
   </div> 
  </div>        
                <!--style>
                .video__box{width:910px; margin:0 auto; overflow:hidden;}
                .video__main{ width:810px; height:607px;float:left }
                .video__list{ width:200px; height:607px; float:left;}
                .video__item{ width:200px; height:174px; hei background:url(/img/icon_live.png) center center no-repeat; }
                </style>
                <div class="video__main">
                </div>
                <div class="video__list">
                    <div class="video__item"></div>
                    <div id="video" class="video__item">
                        <div id="agora_local"></div>
                    </div>
                </div-->
            
            
         <div class="accordion-box">
          <p-fieldset legend="Query" [toggleable]="true" class="accordion-box-inner">
            <div class="lesson-request ">
              <div class="leasson-content">
                <h2>{{queryData?.title}}</h2>
                <div class="list-query-element" [innerHtml]="queryData?.question.changingThisBreaksApplicationSecurity">
                </div>
                <div class="leasson-heading">
                  <h3>
                    <span>{{queryData?.createdAt | timeAgo}}</span>
                  </h3>
                  <figure>
                    <a href="javascript:void()">
                      <img src="./assets/images/heart.png" alt="heart">
                    </a>
                  </figure>
                </div>

                <!-- <button *ngIf="!queryData?.selectedteacher" (click)="applyForJob()" class="btn btn-success">Apply</button> -->
                <div class="rating-box row">
                </div>
              </div>
              <img src={{queryImageUrl}}{{queryData.queryImage}}/>

            </div>
          </p-fieldset>

          <p-fieldset legend="Rating & Feedback" [toggleable]="true">
            <div class="lesson-request">
              <!-- <div class="leasson-content">
              <h2></h2>
            </div> -->
            <form [formGroup] = "ratingForm"  novalidate  (ngSubmit)="rateStudent()" *ngIf="!queryData?.ratingandfeedback.comment">
              <div class="form-group">
                <label>Rate</label>
                <p-rating formControlName="rating"></p-rating>
              </div>
              <div class="form-group input-element">
                <div class="form-field__control">
                  <input id="query" name="replytext" class="form-field__textarea" formControlName="comment" placeholder=" "/>
                  <label for="about_us" class="form-field__label">Comment / Feedback </label>
                  <!-- <span class="text-danger" *ngIf="ratingForm.get('comment').touched && ratingForm.get('comment').invalid">
                  <div *ngIf="ratingForm.get('comment').hasError('required')">Error: Field Required</div>
                </span> -->
              </div>
            </div>
            <div class="col-md-12 pl-0">
              <div class="submit-btn"><button type="submit"> <span *ngIf="!querySentLoading">Reply</span> <span *ngIf="querySentLoading"><i class="fa fa-spinner fa-spin"></i> Please Wait </span>  </button></div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12">
              <figure style="text-align:center;" class="student-job-profile">
                <img style="max-width:100%" src="{{tDpUrl}}{{queryData?.selectedteacher.profileImage}}" />
                </figure> 
                
                <div class="name-days">
                  <p class="name">{{queryData?.selectedteacher.name}}</p>
                  <p class="days">{{queryData?.createdAt | timeAgo}}</p>
                </div>
                <p-rating [(ngModel)]="queryData?.ratingandfeedback.rating" [cancel]="false" disabled="true"></p-rating>
                <p>{{queryData?.ratingandfeedback.comment}}</p>
                <!-- <div class="leasson-heading">
                  <h6>
                    <small>{{queryData?.createdAt | timeAgo}}</small>
                  </h6>
                </div> -->
              </div>
              <div class="col-md-10">
                
              </div>
            </div>
            <div class="rating-box row">
            </div>
          </div>
        </p-fieldset>





        <!--  ============================ Chating module getting started ==============================-->
        <p-fieldset legend="Messages" [toggleable]="true">
          <div class="lesson-request">
            <div class="leasson-content">
              <h2>Chat</h2>
            </div>
            <div class="col-md-12">
              <div class="container">
                <!-- <div id="messages"> -->
                <div *ngFor="let rep of queryData?.message">
                  <div class="msg-left" *ngIf="rep.userType == 'teacher'">
                    {{rep.replyText}}
                    <br/> <span style="font-size:10px;color:white;">  {{rep.repliedAt |  date :  "dd.MM.y h:mm a" }}</span>
                  </div>
                  <div class="msg-right" *ngIf="rep.userType == 'student'">
                    {{rep.replyText}}<br/>
                    <span style="font-size:10px;color:white;">  {{rep.repliedAt |  date :  "dd.MM.y h:mm a" }}</span>
                  </div>
                </div>
              </div>
            </div>

            <form [formGroup] = "qryForm"  novalidate  (ngSubmit)="messageToTeacher()">
              <!-- <div class="form-group">
              <label>Rate</label>
              <p-rating formControlName="rating"></p-rating>
            </div> -->
            <div class="form-group input-element">
              <div class="form-field__control">
                <input id="query" name="replytext" class="form-field__textarea" formControlName="replyChat" placeholder=" "/>
                <label for="replyChat" class="form-field__label">Message </label>
                <span class="text-danger" *ngIf="qryForm.get('replyChat').touched && qryForm.get('replyChat').invalid">
                  <div *ngIf="qryForm.get('replyChat').hasError('required')">Error: Field Required</div>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="submit-btn"><button type="submit"> <span *ngIf="!querySentLoading">Reply</span> <span *ngIf="querySentLoading"><i class="fa fa-spinner fa-spin"></i> Please Wait </span>  </button></div>
            </div>
          </form>
          <div class="rating-box row">
          </div>
        </div>
      </p-fieldset>
      <!-- =============================== end of chating  ========================================-->
    </div>
    </div>
  </div>
</div>
</section>
</div>
