<!-- <header>
  <nav class="navbar navbar-expand-lg main-nav" >
    <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="./assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/queries">Queries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="javascript:void(0)">Contact</a>
          </li>
        </ul>
        <ul class=" my-2 my-lg-0 header-right">
          <li>
            <a routerLink="/login" class="blue-btn">Login</a>

          </li>
          <li>
            <a href="#" class="blue-btn">Sign Up</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header> -->

<header class="head-home">

  <nav class="navbar navbar-expand-lg main-nav" >
    <div class="container">
    <div class="topbar-head">
      <div class="top-head-inner">
      <a class="navbar-brand" href="#"  ><img  href="#"  src="./assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <i class="fas fa-bars"></i>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/our-vision">Our Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="javascript:void(0)">Contact</a>
          </li>
        </ul>
         <ul class=" my-2 my-lg-0 header-right">
          <li>
              <a routerLink="/login" class="blueplay login">Login</a>

          </li>
           <li>
              <a href="/register" class="blue-btn register">Register</a>
          </li> 

          </ul>
        </div>
      </div>
      </div>
    </nav>
  </header>
