* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    /* scroll-behavior: smooth; */
    scroll-behavior: auto;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#feature-slider {
    display: flex;
}

.main-body {
    background: #f3f3f3;
}

/* .alert {
    padding: .75rem 1.25rem 0rem !important;
} */

a, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

.p20 {
    padding: 20px;
}

.mt10 {
    margin-top: 10px;
}

.equal {
    padding: 60px 0px;
}

ul, li {
    list-style: none;
}

button, input, button:hover, input:hover, button:focus, input:focus {
    outline: none;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 42px;
}

.main-nav a.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100px;
}

.main-nav a.navbar-brand img {
    max-width: 100%;
}

.main-nav ul.navbar-nav li a.nav-link {
    color: #adacac;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding: 0px 30px;
    height: 98px;
    align-items: center;
    display: flex;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
}

.main-nav ul.navbar-nav li a.nav-link:hover {
    border-bottom: 2px solid #12c8fc;
    color: #12c8fc;
}

.main-nav .notification-icon {
    position: relative;
}

.main-nav .header-right {
    display: flex;
    align-items: center;
}

.main-nav .header-right span {
    position: absolute;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    top: -5px;
    right: -10px;
    background: #20c9db;
    /* Old browsers */
    background: -moz-linear-gradient(top, #20c9db 0%, #22e28c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #20c9db 0%, #22e28c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20c9db 0%, #22e28c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20c9db', endColorstr='#22e28c', GradientType=0);
}

.hero-element .main-nav ul.navbar-nav li a.nav-link {
    color: #fff !important;
}

.hero-element .head-home {
    border-bottom: none;
}

.head-home {
    border-bottom: 1px solid #f9f9f9;
}

.profile-box {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-box figure {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin-left: 40px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.profile-box figure img {
    max-width: 100%;
}

.top-heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    z-index: 1;
}

.top-heading h1 {
    font-weight: 700;
    display: inline-block;
    background: #f3f3f3;
    padding: 0px 50px;
}

.top-heading:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border: 2px solid #006f9d;
    z-index: -1;
}

.top-heading h2 {
    font-weight: 700;
    display: inline-block;
    background: #f9f9f9;
    padding: 0px 50px;
    text-transform: uppercase;
}

.lesson-request {
    /*border:1px solid silver;*/
    background: #fff;
    box-shadow: 0px 0px 8px silver;
    padding: 20px;
    margin-bottom: 20px;
}

.lesson-request .leasson-heading {
    display: flex;
    /* padding: 0px 20px 0px; */
}

.lesson-request h2 {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 0px;
}

.leasson-heading figure {
    margin-left: auto;
}

.leasson-content {
    padding: 0px;
}

.leasson-heading h3 {
    font-size: 16px;
    font-weight: 600;
    color: #0087ad;
    text-transform: uppercase;
}

.leasson-heading h3 span {
    display: block;
    font-size: 12px;
    color: #ccc;
    text-transform: none;
    font-weight: 400;
    margin-top: 5px;
}

.leasson-content p {
    font-size: 12px;
    line-height: 25px;
}

.leasson-content p a {
    color: #5287ad;
}

.rating-box p a i {
    color: #ed8a19;
}

.rating-box p {
    margin-bottom: 0px;
}

.subject-box h3 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 0px;
    margin-bottom: 0px;
}

.subject-box p a {
    display: block;
    color: #0087ad;
    font-weight: 500;
    line-height: 30px;
}

/* new footer */

footer {
    background-color: #213c50;
}

footer .contactinfo li {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    color: #fff;
}

footer .contactinfo li:not(:last-child) {
    margin-bottom: 8px;
}

footer h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

footer h6 {
    margin-top: 68px;
}

footer .logo {
    margin-top: 60px;
}

footer .information li a {
    font-family: "OpenSans", sans-serif;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .information li:hover a {
    color: #59d8fb;
    transition: color 0.3s ease;
}

footer .information li a::after {
    display: block;
    content: "";
    background-color: #59d8fb;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
    margin-top: 3px;
}

footer .information li:hover a::after {
    width: 100%;
    transition: width 0.3s ease;
}

footer .botbar {
    border-top: 1px solid #28475e;
    margin-top: 60px;
}

footer .copyright {
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 68px;
}

footer .payments {
    text-align: right;
    padding: 20px 0px;
}

footer .payments li {
    display: inline-block;
    margin-right: 23px;
}

footer .payments li:not(:last-child) {
    margin-right: 23px;
}

footer .information li {
    margin-top: 18px;
}

/* login page css start */

.login-element {
    background: #fff;
    position: relative;
    overflow-x: hidden;
}

.login-element figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0px;
}

.login-element figure img {
    max-width: 100%;
}

.bg-blue {
    background: #59d8fb;
}

.validation-element {
    position: relative;
}

.bg-blue span.text-danger {
    color: #ff0909 !important;
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0;
    padding: 10px 10px;
}

.bg-light-grey {
    background: #f9f9f9;
}

.login-box {
    padding: 60px;
    max-width: 650px;
    margin: 0px auto;
}

.login-box h2 {
    text-align: center;
}

.login-box h3 {
    font-weight: 400;
}

.tabs-element .nav-tabs {
    border-bottom: none;
    margin-bottom: 20px;
}

.tabs-element .nav-tabs .nav-item {
    padding: 10px 10px;
}

.tabs-element .nav-tabs .nav-link {
    position: relative;
    padding: 0;
    padding-bottom: 10px;
    font-size: 18px;
    color: #ccc;
    font-weight: 600;
}

.tabs-element .nav-tabs .nav-link:after {
    content: '';
    position: absolute;
    width: 70%;
    display: inline-block;
    height: 3px;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.tabs-element .nav-tabs .nav-link.active, .tabs-element .nav-tabs .nav-item.show .nav-link, .tabs-element .nav-tabs .nav-link:hover {
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
}

.tabs-element .nav-tabs .nav-link.active:after {
    background: #fff;
}

.tab-block input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.tab-block label {
    color: #fff;
}

.tab-block input[type="submit"] {
    width: 100px;
    background: #fff;
    color: #59d8fb;
    border-radius: 48px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.tab-block input[type="submit"]:hover {
    background: #213c50;
    border: 1px solid #213c50;
}

.forgot-pasword {
    font-weight: 600;
    margin-left: 5px;
}

.forget-modal input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forget-modal input[type="submit"] {
    max-width: 160px;
    margin: 0px auto;
    display: block;
    background: #006f9d;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.other-login {
    padding-left: 15px;
    padding-top: 20px;
}

.other-login p {
    color: #fff;
}

.other-login p a {
    font-weight: 500;
    margin: 0px 10px;
    box-shadow: 0px 1px 1px #2d2c2c61;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border: 1px solid;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.other-login p a:nth-child(1) {
    background: #194484;
    border-color: #194484;
}

.other-login p a:hover:nth-child(1), .other-login p a:focus:nth-child(1) {
    color: #194484;
}

.other-login p a:nth-child(2) {
    background: #D54936;
    border-color: #D54936;
}

.other-login p a:hover:nth-child(2), .other-login p a:focus:nth-child(2) {
    color: #D54936;
}

.other-login p a:nth-child(3) {
    background: #0077B0;
    border-color: #0077B0;
}

.other-login p a:hover:nth-child(3), .other-login p a:focus:nth-child(3) {
    color: #0077B0;
}

.other-login p a:hover, .other-login p a:focus {
    color: #fff;
    background: #fff;
}

.profile-detail h4 {
    font-weight: 300;
    font-size: 18px;
}

.profile-detail h3 {
    font-size: 16px;
    font-weight: 700;
}

.profile-detail p.list-content {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.profile-detail p span {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.profile-detail p span img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.list-detail a {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #006f9d;
    border-radius: 50px;
    margin: 0px 10px;
    margin-bottom: 10px;
    background: #fff;
}

.list-detail a:nth-child(1) {
    margin-left: 0px;
}

.list-detail .btn-container {
    display: inline-block;
}

.list-detail .btn-container a {
    border: none;
    color: #006f9d;
    font-weight: 700;
    font-size: 14px;
    padding: 0px;
    background: transparent;
}

#list-hide, #content-hide, #content-hide1 {
    display: none;
}

.profile-about-content {
    max-width: 800px;
    margin: 0px auto;
}

.profile-about-content p {
    font-size: 14px;
    line-height: 30px;
}

.profile-about-content a.more {
    color: #006f9d;
}

/* index page css  */

.blue-btn {
    background: #59d8fb;
    color: #fff;
    border: 1px solid #59d8fb;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    padding: 10px 20px;
    margin: 0px 10px;
}

.blue-btn:hover, .blue-btn:focus {
    background: #fff;
    color: #59d8fb;
    text-decoration: none;
}

.blue-btn.register {
    border-radius: 5px;
    padding: 2px 12px 5px 12px;
}

.user_register-element {
    padding-bottom: 60px;
    max-width: 700px;
    margin: 0px auto;
}

.user_register-element .col-md-6:first-child .user_register {
    border-right: 1px solid #ccc;
}

.hero-element {
    /*background: url(./assets/images/student-bg.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    display: flex;
    padding: 100px 0px;
    align-items: center;
    justify-content: center;*/
    position: relative;
    overflow: hidden;
    height: 650px;
}

.topbar-head {
    height: 98px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    width: 100%;
    display: flex;
}

.hero-element-outer {
    display: block;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.hero-element-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.hero-element-inner h5 {
    font-size: 24px;
    letter-spacing: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
}

.blueplay {
    padding: 2px 12px 5px 0;
    border: 1px solid #59d8fb;
    color: #59d8fb;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    border-radius: 5px;
}

.blueplay:before {
    display: inline-block;
    margin: 0 8px 0 10px;
    color: #59d8fb;
    position: relative;
    bottom: -1px;
    border-left: 6px solid #59d8fb;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
}

.blueplay:hover, .blueplay:focus {
    background: #fff;
    text-decoration: none;
}

.hero-element-inner>h5 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 300;
}

.hero-element-inner h1 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 75px;
    color: #fff;
    letter-spacing: -1px;
    margin-top: 16px;
}

.hero-element-inner h1 span {
    display: block;
}

.hero-element-inner h6 {
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 28px;
}

.hero-element-inner h6 span {
    display: block;
}

.feature-element {
    overflow-x: hidden;
    padding: 0px 0px;
    border-bottom: 1px solid #e8e8e8;
}

.feature-element-inner {
    padding: 0px 80px;
    margin: 0px auto;
}

.feature-element-inner .slick-list {
    border-right: 1px solid #e8e8e8;
}

.feature-element-inner .feature-element-content {
    padding: 0 35px;
    border-left: 1px solid #e8e8e8;
    height: 300px;
    padding-top: 40px;
}

/* .feature-element-inner .feature-element-content figure img{
	width:55px;
} */

.feature-element-inner .feature-element-content h3 {
    font-size: 18px;
}

.feature-element-inner .feature-element-content p {
    font-size: 12px;
    margin-bottom: 30px;
}

.feature-element-inner .feature-element-content a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    color: #006f9d;
}

.feature-element-inner .feature-element-content a span {
    transition: width 0.3s ease-in;
    -webkit-transition: width 0.3s ease-in;
    -moz-transition: width 0.3s ease-in;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.feature-element-inner .feature-element-content a i {
    padding-left: 5px;
}

.feature-element-inner .feature-element-content:hover a span {
    width: 100%;
}

.feature-element-inner .feature-element-content a:hover {
    text-decoration: none;
}

/* .feature-element-inner .slick-prev:before, .feature-element-inner .slick-next:before{
	color:#1c1a27;
} */

.steps-element {
    padding: 60px 0px;
    background: #fff;
    text-align: center;
}

/* Ripple Out */

@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.steps-element {
    position: relative;
    overflow: hidden;
}

.step-devider {
    position: relative;
    width: 100%;
}

.step-devider .divider {
    border-bottom: solid 1px #18c967;
    position: absolute;
    width: 500%;
    top: 32px;
    display: block;
    left: -600px;
}

.hvr-ripple-out {
    position: relative;
    cursor: pointer;
    background: #416581;
    text-decoration: none;
    color: #fff;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 0px auto;
    background-color: #416581;
    border: 6px solid #8299ac;
    box-shadow: 0 0 0 6px #c4ced7;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: 0.3s;
    font-family: "Work Sans", sans-serif;
}

.hvr-ripple-out:hover, .hvr-ripple-out:focus {
    color: #fff;
    transform: rotate(360deg);
    background-color: #18c967;
    border-color: #68da9b;
    box-shadow: 0 0 0 6px #b7edcf;
    transform: rotate(360deg);
    transition: all 0.3s ease;
    text-decoration: none;
}

.step-heading {
    padding-bottom: 60px;
    margin-top: 62px;
}

.step-heading h2 {
    margin-bottom: 30px;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #202020;
}

.step-heading h2:after {
    content: "";
    left: 0;
    right: 0;
    margin: 18px auto;
    width: 50px;
    height: 3px;
    background: #e8e8e8;
    display: block;
}

.step-element-inner {
    text-align: center;
}

.step-element-inner h4 {
    font-size: 18px;
    margin: 35px 0px 15px 0px;
    font-family: 'Raleway', sans-serif;
}

.step-element-inner p {
    font-size: 14px;
}

.video-plateform-outer {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video-plateform-outer .video-plateform-inner i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #7b7b7b;
}

.video-plateform-outer:nth-child(4) {
    border-right: none;
}

.video-plateform-outer:nth-child(8) {
    border-right: none;
    border-bottom: none;
}

.video-plateform-outer:nth-child(5), .video-plateform-outer:nth-child(6), .video-plateform-outer:nth-child(7) {
    border-bottom: none;
}

.list-query-element img {
    max-width: 100%;
}

/* testimonial css */

.testimonial-element .slick-slider {
    padding-bottom: 40px;
}

.testimonial-element .slick-slider .slick-prev, .testimonial-element .slick-slider .slick-next {
    top: auto;
    bottom: -40px;
    width: 40px;
    height: 40px;
}

.testimonial-element em {
    font-size: 18px;
}

/* .testimonial-element .slick-slider .slick-arrow:hover{
    transform: rotate(180deg);
} */

.testimonial-element .slick-slider .slick-prev:before, .testimonial-element .slick-slider .slick-next:before {
    font-size: 30px;
}

.testimonial-element p {
    margin-top: 20px;
}

.testimonial-element .slick-slider .slick-prev {
    left: 46.5%;
}

.testimonial-element .slick-slider .slick-next {
    right: 46.5%;
}

/*********categories css start ***********/

.categories-element {
    position: relative;
}

.categories-element .category {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

.categories-element .category img {
    margin-top: 50px;
    height: 63px;
}

.categories-element .category h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #202020;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 16px;
}

.categories-element .overlay.row:last-child::after {
    display: none;
}

.categories-element .row:last-child::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    bottom: 1px;
}

.categories-element::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.categories-element .category .overlay {
    background: url("./assets/images/box.jpeg");
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 30px 30px;
    opacity: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
}

.categories-element .category .overlay p {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: #fff;
}

.categories-element .category .overlay p span {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    display: block;
}

.categories-element .category .overlay h5 {
    margin-top: 0px;
    color: #fff;
    margin-bottom: 0px;
}

.categories-element .category .overlay a {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.categories-element .category .overlay a::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: width 0.5s ease;
    margin: 0 auto;
}

.categories-element .category .overlay a:hover::after {
    width: 100%;
    transition: width 0.5s ease;
}

.categories-element .category:hover>.overlay {
    transform: scale(1.1);
    transition: all 0.5s ease;
    opacity: 1;
}

.overlay-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*********categories css end ***********/

/*********Signup css start ***********/

.signup_element-box {
    background-image: url(./assets/images/parallex.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

.signup_element-box p {
    font-size: 16px;
    letter-spacing: 10px;
}

.signup_element-box h4 {
    font-size: 53px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.signup_element-box .blue-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 19px;
    width: 145px;
    border-radius: 2px;
    margin-top: 45px;
    margin-bottom: 80px;
    display: block;
    margin: 0px auto;
}

/*why choose section*/

.why-choose {
    background-image: url(./assets/images/down.jpg);
    background-size: cover;
    background-position: right bottom;
}

.radio-button {
    margin: 15px 0px;
}

.student {
    float: left;
    margin-right: 20px;
}

.why-choose .step-heading h2:after {
    margin: 0px;
}

.why-choose p {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 55px;
}

.ftr-element {
    background: #fff;
    padding: 40px 0px;
}

.social-icon a {
    color: #a4a4a4;
    padding: 0px 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.social-icon a:hover, .social-icon a:focus {
    color: #006f9d;
}

.ftr-block h4 {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 20px;
}

.ftr-block ul li {
    position: relative;
    padding-left: 40px;
    line-height: 30px;
}

.ftr-block ul li i {
    position: absolute;
    top: 10px;
    color: #006f9d;
    left: 0;
}

/* pricing css start */

.page-heading {
    background-color: #eff5f9;
}

.page-heading .top-heading-element h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #202020;
    line-height: 125px;
    margin-top: 1px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}

.pricing-element {
    padding-bottom: 80px;
}

.pricings .plan {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
    margin-top: 40px;
}

.pricing-element .pricings .price {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 89px;
    color: #12c8fc;
    position: relative;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.pricing-element .price::before {
    content: "$";
    display: inline-block;
    position: absolute;
}

.pricing-element .pricings .price::before {
    font-size: 50px;
    left: -30px;
    top: 10px;
}

.pricing-element .pricings .mostpopular .price {
    color: #213c50;
}

.pricing-element .pricings .crew {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #12c8fc;
    margin-bottom: 15px;
}

.pricing-element .pricings .plan-details p {
    font-family: "Work Sans", sans-serif;
    font-size: 13px;
    color: #5f5f5f;
    margin-top: 15px;
}

.pricing-element .pricings .plan a {
    bottom: 0;
    width: 137px;
    line-height: 40px;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 60px auto 27px auto;
    border: 1px solid;
    border-color: #cdcdcd;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    text-decoration: none;
}

.pricing-element .pricings .plan a i {
    margin-right: 15px;
}

.pricing-element .pricings .plan:hover a+a {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.pricing-element .pricings .plan a+a {
    position: absolute;
    z-index: 100;
    opacity: 0;
    border-color: #213c50;
    background-color: #213c50;
    transition: opacity 0.5s ease;
    color: #fff;
}

.pricing-element .pricings .plan .ribbon {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 9px;
    position: absolute;
    right: 0;
    top: 11px;
    line-height: 32px;
    width: 99px;
    background-color: #12c8fc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: none;
}

.pricing-element .pricings .mostpopular .ribbon {
    display: block;
}

#index3 .whyus h3::after, #services-1 .whyus h3::after {
    margin: 18px auto 40px auto;
}

/* ourvision css start */

.platform-feature {
    margin-top: 53px;
}

.platform-feature a {
    font-family: "Montserrat", sans-serif;
    color: #202020;
    font-size: 15px;
    display: block;
    margin-top: 22px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.platform-feature a::after {
    content: "";
    display: block;
    height: 2px;
    width: 66px;
    margin: 18px auto;
    background-color: #fff;
    text-decoration: none;
}

.platform-feature a:hover, .platform-feature a:focus {
    color: #999;
    text-decoration: none;
}

.category-with-bg {
    position: relative;
    height: 215px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    margin-bottom: 20px;
}

.category-with-bg figure {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.category-with-bg figure img {
    max-width: 100%;
}

.category-with-bg h5 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 14px;
    color: #fff;
}

.category-with-bg p {
    font-size: 12px;
    margin-bottom: 20px;
    color: #fff;
}

.category-with-bg .goto {
    margin-bottom: 50px;
    display: inline-block;
    padding: 0 12px;
    line-height: 18px;
    color: #fff;
    background-color: #12c8fc;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category-with-bg:hover .goto {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.whyus p {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    color: #535353;
    margin-bottom: 55px;
}

.whyus .step-heading {
    padding-bottom: 20px;
}

#loadmore {
    display: none;
}

.loadmore {
    margin: 0px auto;
    display: block;
    width: 139px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.loadmore:hover {
    color: #12c8fc;
}

/* pre register */

.user_register {
    padding-bottom: 30px;
}

.user_register figure {
    width: 200px;
    height: 210px;
    overflow: hidden;
    margin: 0px auto;
    margin-bottom: 30px;
}

.user_register figure img {
    max-width: 100%;
}

.dropdown-header-inner .dropwdown-menu-items {
    padding: 0px;
    min-width: 190px;
    right:0px;
    left: auto;
}

.dropwdown-menu-items-heading {
    background: #525bed;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.dropdown-header-inner .dropdown-header-inner-btn {
    background: transparent;
    border: transparent;
}

.dropdown-header-inner .dropdown-header-inner-btn:focus, .dropdown-header-inner .dropdown-header-inner-btn:hover {
    box-shadow: none;
}

.dropwdown-menu-items-list {
    line-height: 30px;
    cursor: pointer;
}
.video-small-size{
    width: 30%;
    margin-top: 10px;
    height: 130px;
    display:none;
    border: 1px solid #ccc;
    position: absolute;
    top: -150px;
    right: 30px;
    z-index: 99;
}
body .accordion-box .accordion-box-innner .ui-fieldset .ui-fieldset-legend a {
background-color: #006f9d !important;
padding: 10px;
}

.student-job-profile{
    margin-top: 10px;
    max-width: 100px;
}
.name-days{
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-between;
}
.name-days .days{
    font-size: 10px;
    line-height: 20px;
}
#div_device{
    font-size:15px;
  }
  .audio_source, .video_source{
    margin-bottom:10px;
  }
  #div_join button{
    cursor:pointer;
  }
  body .ui-corner-all {
    margin-bottom: 20px;
}
.contact-admin{
    padding:0 30px
}
.ask-admin-form .form-field__control, .reply-text-box .form-field__control{
    position: relative;
  }
  .ask-admin-form .form-field__control input, .ask-admin-form .form-field__control textarea, .reply-text-box .form-field__control input{
    width: 100%;
      box-sizing: border-box;
      box-shadow: none;
      outline: none;
      border: none;
      border-bottom: 2px solid #999;
      padding: 10px 0;
      margin-bottom: 30px;
  }
  .ask-admin-form .form-field__control label, .reply-text-box .form-field__control label{
    position: absolute;
      top: 10px;
      left: 0;
      color: #999;
      transition: .5s;
      pointer-events: none;
      padding-left: 0;
  }
  .sidebar-bg {
    background: #eae8e8;
}