

<div>
  <app-tloginheader></app-tloginheader>
  <section>
    <p-growl [(value)]="msgs"></p-growl>
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar-bg">
          <app-tsidebar></app-tsidebar>
        </div>
        <div class="col-md-9">
          <h2>My Jobs</h2>
          <hr/>
        <div class="lesson-request" style="cursor:pointer;" [routerLink]="['/job',qr.slug]"  *ngFor="let qr of queryData">
          <div class="row">
            <div class="col-md-2">
              <ng-container *ngIf="qr.studentId">
              <figure *ngIf="qr.studentId.profileImage" style="text-align:center;" class="student-job-profile">
                <img style="max-width:100%" src="{{dpUrl}}{{qr.studentId.profileImage}}" /></figure>
                <figure *ngIf="!qr.studentId.profileImage" style="text-align:center;" class="student-job-profile">
                  <img style="max-width:100%" src="./assets/images/m_noimage.jpeg"/></figure>
                </ng-container>

                  <figure *ngIf="!qr.studentId" style="text-align:center;" class="student-job-profile">
                      <img style="max-width:100%" src="./assets/images/m_noimage.jpeg"/></figure>
                      <ng-container *ngIf="qr.studentId">

                      <span style="font-size:13px;">{{qr.studentId.firstname}}</span><br/>
                </ng-container>
                  <p-rating [(ngModel)]="qr.ratingandfeedback.rating" [cancel]="false" disabled="true"></p-rating>
                </div>
                <div class="col-md-10">
                  <h2  >{{qr.title}}</h2>
                  <div class="list-query-element" [innerHtml]="qr?.question.changingThisBreaksApplicationSecurity">
                  </div>
                  <div class="leasson-heading">
                    <h3>
                      <span>{{qr.createdAt | timeAgo}}</span>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="leasson-content">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
