<div>
  <app-tloginheader></app-tloginheader>
  <section>
    <p-growl [(value)]="msgs"></p-growl>
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar-bg">
          <app-tsidebar></app-tsidebar>
        </div>
        <div class="col-md-9">
          
          <!--  =============================  Warnings and alert messages ====================================== -->
          <div class="alert alert-warning" *ngIf="!teacherData?.emailverified">
            <strong>Warning!</strong> Please verify your mail ID. To compelte you account
          </div>
          <div class="alert alert-danger" *ngIf="!teacherData?.isEnabled && !teacherData?.profile.mailsent">
            <strong><i  class="fas fa-times-circle"></i></strong>  Profile status :
            <span *ngIf="!teacherData?.profile.mailsent" class="badge badge-pill badge-danger"> In-Active</span>
            <span *ngIf="!teacherData?.profile.mailsent"> (Note : Complete below points and press the send for approval button to send profile for approval.)</span>
            <span *ngIf="teacherData?.profile.mailsent" class="badge badge-pill badge-warning" title="mail sent to admin for approval"> Pending..</span>
            <!-- <span *ngIf="!teacherData?.profile.mailsent"> (Note : Profile sent for approval. Will revert in 24 hours ..)</span> -->
            <br/>
          </div>
          <div class="alert alert-danger" *ngIf="teacherData?.profile.mailsent ==true && teacherData?.profile.status=='approved' && teacherData?.isEnabled==false">
            <strong><i  class="fas fa-times-circle"></i></strong>  Profile status :
            <span  class="badge badge-pill badge-danger"> In-Active</span>
            <span> (Note : De-activated by admin. Please contact admin on this.)</span>
          </div>
          <div class="alert alert-warning" *ngIf="!teacherData?.isEnabled && teacherData?.profile.mailsent && teacherData?.profile.status == '' ">
            <strong> Profile status :</strong>
            <span *ngIf="teacherData?.profile.mailsent" class="badge badge-pill badge-warning" title="mail sent to admin for approval"> Pending..</span>
            <span *ngIf="teacherData?.profile.mailsent"> (Note : Profile sent for approval. Will revert in 24 hours ..)</span>
            <br/>
          </div>
          <div class="alert alert-danger" *ngIf="!teacherData?.isEnabled && teacherData?.profile.mailsent && teacherData?.profile.status == 'disapproved' ">
            <strong> Profile status :</strong>
            <span *ngIf="teacherData?.profile.mailsent" class="badge badge-pill badge-danger" title="mail sent to admin for approval"> Rejected..</span>
            <span *ngIf="teacherData?.profile.mailsent"> (Note : Rejected by admin, Please make change and send for approval again..)</span>
            <br/>
          </div>
          <div *ngIf="teacherData?.docs && teacherData?.docs.isDegreeApproved == 'disapproved'" class="alert alert-danger">
            <i  class="fas fa-times-circle"></i> Reason -  <strong> Degree Disapproved by ADMIN</strong> .Please upload a new degree </div>

            <div class="alert alert-info">
              <span class="text-danger"  *ngIf="!teacherData?.profileImage">  <strong><i   class="fas fa-times-circle"></i></strong> Upload Profile Picture</span>
              <span class="text-success" *ngIf="teacherData?.profileImage">  <strong><i class="fas fa-check"></i></strong> Picture Uploaded</span>
              <br/>
              <span class="text-danger" *ngIf="!teacherData?.title && !teacherData?.subjects[0] && !teacherData?.languages[0] && !teacherData?.about && !teacherData?.age "> <strong><i  class="fas fa-times-circle"></i></strong> Enter ( Title, Subjects, Languages, About, Age )</span>
              <span class="text-success" *ngIf="teacherData?.title && teacherData?.subjects[0] && teacherData?.languages[0] && teacherData?.about && teacherData?.age "> <strong><i  class="fas fa-check"></i></strong> Enter ( Title, Subjects, Languages, About, Age )</span>
              <br/>
              <span class="text-danger" *ngIf="!teacherData?.docs"> <strong><i  class="fas fa-times-circle"></i></strong> Upload Degree</span>
              <span class="text-danger" *ngIf="teacherData?.docs && teacherData?.docs.isDegreeApproved == 'disapproved'"> <strong><i  class="fas fa-times-circle"></i></strong> Degree Disapproved</span>
              <span class="text-success" *ngIf="teacherData?.docs && teacherData?.docs.name && (teacherData?.docs.isDegreeApproved == '' || teacherData?.docs.isDegreeApproved =='approved')"> <strong><i class="fas fa-check"></i></strong> Uploaded Degree</span>
              <span class="text-success" *ngIf="teacherData?.docs && teacherData?.docs.name && !teacherData?.docs.isDegreeApproved"> <strong><i class="fas fa-check"></i></strong> Uploaded Degree</span>

              <br/>
              <span class="text-danger" *ngIf="!teacherData?.emailverified"> <strong><i  class="fas fa-times-circle"></i></strong> Verify your Mail ID<br/></span>
              <span class="text-success" *ngIf="teacherData?.emailverified"> <strong><i class="fas fa-check"></i></strong> Mail Verified<br/></span>
              <br/>
              <button *ngIf="!teacherData?.profile.mailsent " class="btn btn-success" (click)="sendProfileForReview()" title="Send Profile for review for enabeling">Send for Approval <i class="fa fa-spinner fa-spin" *ngIf="profilesendingLoading"></i></button>
              <button *ngIf="teacherData?.profile.mailsent && teacherData?.profile.status =='disapproved' " class="btn btn-success" (click)="sendProfileForReview()" title="Send Profile for review for enabeling">Send for Approval again <i class="fa fa-spinner fa-spin" *ngIf="profilesendingLoading"></i></button>
            </div>
            <!--  ============================= END OF  Warnings and alert messages ====================================== -->

            <div class="right-side-element">
              <div class="edit-detail">
                <div class="row">
                  <div class="col-md-12">
                    <div class="heading-title"><h2> Docs (Intermediate Marksheet) </h2>
                      <br/><br/>
                      <p class="text-danger">( Needed for Profile approval )</p>
                      <!-- <a href="javascript:void()" (click)="openModalWithClass(template)" ><i class="fas fa-pen"></i></a> -->
                      <br/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-field__control">
                      <input id="doc"  name="docimage" (change)="handleFileSelect($event)"  type="file" class="form-field__input" placeholder=" " />
                      <label for="firstname" class="form-field__label">Upload Doc</label>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="doc_64textString">
                    <img src="{{doc_64textString}}" style="height:250px">
                    <br/>
                    <div class="col-md-6" *ngIf="doc_64textString" style="text-align:center;">
                      <button type="button" (click)="uploaddoc()" class="btn btn-success">Upload</button>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="teacherData?.docs && teacherData?.docs.name && !doc_64textString">
                    <img src="{{docImageUrl}}{{teacherData?.docs.name}}" style="height:250px"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="heading-title"><h2>Profile  </h2>
                      <a href="javascript:void()" (click)="openModalWithClass(template)" ><i class="fas fa-pen"></i></a> </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p ><span class="title"> Name:</span> </p>
                        <span class="info"> {{teacherData?.name}}</span>
                      </div>
                    </div><!-- End col-md-6 -->
                    <!-- End col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <p><span class="title">Email</span> </p>
                        <span class="info"> {{teacherData?.email}}</span>
                      </div>
                    </div><!-- End col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <p><span class="title">Title</span> </p>
                        <span class="info" *ngIf="teacherData?.title"> {{teacherData?.title}}</span>
                        <span class="info text-danger" *ngIf="!teacherData?.title">Please fill this field</span>
                      </div>
                    </div><!-- End col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <p ><span class="title">Experience :</span> </p>
                        <span class="info" *ngIf="teacherData?.experience"> {{teacherData?.experience}}</span>
                        <span class="info text-danger" *ngIf="!teacherData?.experience">Please enter this field</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p ><span class="title">Age :</span> </p>
                        <span class="info" *ngIf="teacherData?.age"> {{teacherData?.age}}</span>
                        <span class="info text-danger" *ngIf="!teacherData?.age">Please enter age</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p ><span class="title">Profile Status :</span> </p>
                        <span class="info" *ngIf="teacherData?.profile.status == 'approved' && teacherData?.isEnabled== true">
                          <span class="badge badge-pill badge-success"> Active</span>
                        </span>
                        <span class="info text-danger" *ngIf="teacherData?.profile.status == '' && teacherData?.isEnabled== false && teacherData?.profile.mailsent == true">
                          <span class="badge badge-pill badge-warning"> Pending..</span>
                        </span>
                        <span class="info text-danger" *ngIf="(teacherData?.profile.status == 'disapproved' || teacherData?.isEnabled== false) && teacherData?.profile.mailsent == true">
                          <span class="badge badge-pill badge-danger"> De-active</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <p><span class="title">About Me</span> </p>
                        <div class="info" *ngIf="teacherData?.about">{{teacherData?.about}}</div>
                        <div class="info text-danger" *ngIf="!teacherData?.about">Please fill this field</div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <p><span class="title">Subjects :</span> </p>
                        <span class="info" *ngIf="teacherData?.subjects">
                          <div class="chip" *ngFor="let sub of teacherData?.subjects">
                            {{sub.sub_text}}
                          </div>
                        </span>
                        <span class="info text-danger" *ngIf="!teacherData?.subjects"> Please fill this field</span>
                      </div>
                    </div>  <!-- End col-md-12 -->
                    <div class="col-md-12">
                      <div class="form-group">
                        <p><span class="title">Languages :</span> </p>
                        <span class="info" *ngIf="teacherData?.languages">
                          <div class="chip" *ngFor="let lang of teacherData?.languages">
                            {{lang.lang_text}}
                          </div>
                        </span>
                        <span class="info text-danger" *ngIf="!teacherData?.languages"> Please fill this field</span>
                      </div>
                    </div>  <!-- End col-md-12 -->
                    <button class="btn btn-success" (click)="openCheckout()">Add Debit/Credit Card</button>
                    <!-- End col-md-12 -->
                    <!-- <div class="col-md-12">
                    <div class="form-group">
                    <p><span class="title">Hours (Bought Time)</span> </p>
                    <div class="info" *ngIf="teacherData?.hours">{{teacherData?.hours}}</div>
                    <div class="info" *ngIf="!teacherData?.hours">0 Hours</div>
                  </div>
                </div>

                <div class="col-md-12">
                <button class="btn btn-success">Buy Hours</button>
              </div> -->
              <!-- End col-md-12 -->
            </div>  <!-- end of profile row -->
          </div><!--Edit profile end-->
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!--modal start here-->
<div class="modal-element-container">
  <ng-template #template >
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Proflie</h4>
      <button type="button"  class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="edit-profile-editor">
        <form (submit)="editprofile()" >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <input id="firstname" [(ngModel)]="teacherData.name" name="fullname" type="text" class="form-field__input" placeholder=" " />
                  <label for="firstname" class="form-field__label">Name</label>
                </div>
              </div>
            </div><!--End col-md-6-->
            <div class="col-md-6">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <input id="title" type="text" name="e_title" [(ngModel)]="teacherData.title" class="form-field__input" placeholder=" " />
                  <label for="title" class="form-field__label">Title</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-element">
                <div class="form-field__control">
                  <input id="language" type="text" name="e_age" [(ngModel)]="teacherData.age" class="form-field__input" placeholder=" " />
                  <label for="language"class="form-field__label">Age</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Choose Languages</label>
              <ng-multiselect-dropdown  name="lang"
              [placeholder]="'Select Languages'"
              [data]="languageList"
              [(ngModel)]="teacherData.languages"
              [settings]="languageDropdownSettings"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              >
            </ng-multiselect-dropdown>
          </div><!--End col-md-6-->
          <div class="col-md-6">
            <label>Choose Subjects</label>
            <ng-multiselect-dropdown  name="sub"
            [placeholder]="'Select Languages'"
            [data]="subjectList"
            [(ngModel)]="teacherData.subjects"
            [settings]="subjectDropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
          </ng-multiselect-dropdown>
        </div>
        <!--End col-md-6-->
        <div class="col-md-12">
          <div class="form-group input-element">
            <div class="form-field__control">
              <textarea id="about_us" [(ngModel)]="teacherData.about" name="about" class="form-field__textarea" placeholder=" "></textarea>
              <label for="about_us" class="form-field__label">About Us</label>
            </div>
          </div>
        </div><!--End col-md-12-->
        <div class="col-md-12">
          <div class="submit-btn"><input type="submit" placeholder="" value="submit"></div>
        </div>
      </div>
    </form>
  </div>
</div>
</ng-template>
</div>
<!--modal End here-->
