.profile-upload{
    padding: 20px 10px;
    background: #eae8e8;
}
.profile-upload-box
{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    text-align: center;
    margin: 0px auto;
}
.upload-btn-element
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.profile-upload-box img{
    max-width: 100%;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
  }

  .btn-upload {
    color: white;
    background-color: #525BEA;
    border: 2px solid #525bea;
    padding: 8px 15px;
    border-radius: 0;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;

  }

  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: -16px;
    top: 0;
    opacity: 1;
    width: 150px;
    height: 100%;
    cursor: pointer;
    font-size: 0px;
  }
  .btn-delete{
    border: 2px solid #525bea;
    color: #525bea;
    background-color: white;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
  }
  .upload-btn-wrapper:hover .btn-upload, .btn-delete:hover{
    background: #fff;
    color: #525BEA;
}
  .sidebar-bg
  {
      background: #eae8e8;
  }
  .siderbar-element{
    background: #fff;
    border: 1px solid #eae8e8;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
  }
  .siderbar-element-list
  {
      padding-left:0px;
  }
  .siderbar-element-list li
  {
      width: 100%;
      list-style: none;
      border-bottom: 1px solid #ece6e6;


  }


  .siderbar-element-list li a,.siderbar-element-list li a:hover,.siderbar-element-list li a:focus{
      text-decoration: none;
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      width: 100%;
      padding: 10px 10px;
      display: inline-block;

  }
  .siderbar-element-list li:hover a,.siderbar-element-list li:focus a,.siderbar-element-list li.active a
  {
  color: #fff;
  background: #525BEA;

  }

  /*right side element*/
  .right-side-element
  {
      width: 100%;
      padding: 20px;
  }
  .info
  {
    background: #f9f9f9;
    width: 100%;
    display: block;
    padding: 10px;
  }
  .edit-detail
  {}
  .right-side-element p
  {
      margin-bottom: 0px;
  }
  .right-side-element p .title {
    font-weight: 600;

  }
  .heading-title{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccc;
    align-items: center;
  }
  .heading-title h2 {
    color: #525bea;
    font-weight: 500;
  }
  .heading-title a{
     margin-left: auto;
     color: #525bea;
  }

  /* edit form css */
  .edit-profile-editor input, .edit-profile-editor textarea
  {
    width: 100%;

  }
  .modal-element-container .modal-dialog
  {
      max-width: 1000px;
  }

  .form-field__label {
    font-size: 0.75rem;
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
    display: block;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 18px 12px 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: 100%;
    color:#aba6a6;
  }

  .form-field__control {
    background: #fff;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .form-field__bar {
    border-bottom: 2px solid #525BEA;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: all 0.4s;
    width: 1%;
  }

  .form-field__input,
  .form-field__textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999;
    color: #333;
    display: block;
    font-size: 14px;
    margin-top: 24px;
    outline: 0;
    padding: 0 12px 10px 12px;
    width: 100%;
  }
  .form-field__input:-ms-input-placeholder ~ .form-field__label,
  .form-field__textarea:-ms-input-placeholder ~ .form-field__label {
    font-size: 16px;
    transform: translateY(0);
  }
  .form-field__input:placeholder-shown ~ .form-field__label,
  .form-field__textarea:placeholder-shown ~ .form-field__label {
    font-size: 16px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .form-field__input:focus ~ .form-field__label,
  .form-field__textarea:focus ~ .form-field__label {
    color: #525BEA;
    font-size: 0.75rem;
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
  }
  .form-field__input:focus ~ .form-field__bar,
  .form-field__textarea:focus ~ .form-field__bar {
    border-bottom: 2px solid #525BEA;
    -webkit-transform: scaleX(150);
            transform: scaleX(150);
  }

  .form-field__textarea {
    height: 150px;
  }

.submit-btn input[type="submit"]{
  width:150px;
  margin: 0px auto;
  background: #525bea;
  border: 1px solid #525bea;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}
.submit-btn input[type="submit"]:hover,.submit-btn input[type="submit"]:focus{
  background: transparent;
  color:#525bea;
}

.chip {
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
