<!--
<app-mainheader></app-mainheader>
<section class="hero-element">
<div class="container">
<div class="hero-element-inner text-center">
<h5>Online Concept Clearance</h5>
<h1>Boost Your<span>Knowledge</span></h1>
<h6>Clear your doubts right away every day and get <span>inspired by the diversity of online learning</span></h6>
<a href="#" class="blue-btn">I am Student</a>
<a routerLink="/tlogin" class="blue-btn">I am Teacher</a>
</div>
</div>
</section>
<section class="feature-element">
<div class="feature-element-inner" >
<div class="" id="feature-slider">
<div class="col-md-3 feature-element-content">
<div class="">
<figure><img src="./assets/images/icon-1.png" alt="icon"></figure>
<h3>Online trainings from experts</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
<a href="#"><span>Read More</span> <i class="fas fa-caret-right"></i></a>
</div>
</div>
<div class="col-md-3 feature-element-content">
<div class="">
<figure><img src="./assets/images/icon-2.png" alt="icon"></figure>
<h3>Online trainings from experts</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
<a href="#"><span>Read More</span> <i class="fas fa-caret-right"></i></a>
</div>
</div>
<div class="col-md-3 feature-element-content">
<div class="">
<figure><img src="./assets/images/icon-3.png" alt="icon"></figure>
<h3>Online trainings from experts</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
<a href="#"><span>Read More</span><i class="fas fa-caret-right"></i></a>
</div>
</div>
<div class="col-md-3 feature-element-content">
<div class="">
<figure><img src="./assets/images/icon-4.png" alt="icon"></figure>
<h3>Online trainings from experts</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
<a href="#"><span>Read More</span> <i class="fas fa-caret-right"></i></a>
</div>
</div>
</div>
</div>
</section>
<section class="steps-element">
<div class="container">
<div class="step-heading">
<h2>Get to your success in 3 simple steps</h2>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, coniam voluptua.</p>
</div>
<div class="row">
<div class="col-md-4">
<div class="step-element-inner">
<a href="#" class="hvr-ripple-out">1 </a>
<h4>Take a free tour and check our videos</h4>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
</div>
</div>
<div class="col-md-4">
<div class="step-element-inner">
<a href="#" class="hvr-ripple-out">2 </a>
<h4>Take a free tour and check our videos</h4>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
</div>
</div>
<div class="col-md-4">
<div class="step-element-inner">
<a href="#" class="hvr-ripple-out">3 </a>
<h4>Take a free tour and check our videos</h4>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
</div>
</div>
</div>
</div>
</section>
<section class="equal">
<div class="container">
<div class="step-heading text-center">
<h2>Get to your success in 3 simple steps</h2>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, coniam voluptua.</p>
</div>
<div class="row">
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fab fa-angellist"></i>
<p>Business</p>
</div>
</div>
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fas fa-award"></i>
<p>Business</p>
</div>
</div>
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fab fa-blackberry"></i>
<p>Business</p>
</div>
</div>
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fas fa-box-open"></i>
<p>Business</p>
</div>
</div>
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fas fa-bookmark"></i>
<p>Business</p>
</div>
</div>
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fas fa-coffee"></i>
<p>Business</p>
</div>
</div>
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fas fa-bug"></i>
<p>Business</p>
</div>
</div>
<div class="col-md-3 video-plateform-outer">
<div class="video-plateform-inner">
<i class="fas fa-brain"></i>
<p>Business</p>
</div>
</div>
</div>
</div>
</section>
<footer class="ftr-element">
<div class="container">
<div class="row">
<div class="col-md-4 text-center">
<figure><img src="" alt="Logo"></figure>
<p class="social-icon">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-youtube"></i></a>
<a href="#"><i class="fab fa-vimeo-v"></i></a>

</p>
</div>
<div class="col-md-4">
<div class="ftr-block">
<h4>Contact info</h4>
<ul>
<li><i class="fas fa-phone-volume"></i> (+61 2) 9251 5600</li>
<li><i class="fas fa-envelope"></i> longnguyenngoc@gmail.com</li>
<li><i class="fas fa-map-marker-alt"></i>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
</ul>
</div>
</div>
<div class="col-md-4">
<div class="ftr-block">
<h4>latets tweets</h4>
<p>FREE! Since Feb2016 #activeden closed by  &copy;EnvatoMarket  now you can download my #flash #animation for #free <a href="#">https://t.co/fZv7VCgHto #freebie</a></p>
</div>
</div>
</div>
</div>
</footer> -->



<!-- End header Section -->
<section class="hero-element">
	<div class="home-header"><app-mainheader></app-mainheader></div>
	<div class="hero-element-outer" >
	<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
		
			
		<div ngxSlickItem *ngFor="let slide of slides" class="slide">
			<div class="slide-head">  <img src="{{ slide.img }}" alt="" ></div>
		</div>
	
	</ngx-slick>

	
</div>
	<div class="hero-element-inner text-center">
		<div class="container">

			<h5>Online Concept Clearance</h5>
			<h1>Boost Your<span>Knowledge</span></h1>
			<h6>Clear your doubts right away every day and get inspired <span> by the diversity of online learning</span></h6>
			<a routerLink="/signup" class="blue-btn">I am Student</a>
			<a routerLink="/tsignup" class="blue-btn">I am Teacher</a>
		</div>
	</div>


</section><!-- End section -->
<section class="feature-element">
	<div class="feature-element-inner" >
		<div class="" id="">
				<ngx-slick class="carousel" #slickModal="slick-modal" [config]="carsouselConfig" (afterChange)="afterChange($event)">
		
			
						<div ngxSlickItem *ngFor="let slide of carsousel" class="slide ">
							 
							  <div class=" feature-element-content">
									<div class="">
										<figure><img src="{{ slide.img }}" alt="icon"></figure>
										<h3>{{slide.heading}}</h3>
										<p>{{slide.content}}</p>
										<a href="#"><span>Read More</span>  >
											
					
										</a>
									</div>
								</div><!-- end col-md-3 -->
						
						</div>
					
					</ngx-slick>
		

		</div>
	</div>
</section>


<section class="steps-element">
	<div class="container">
		<div class="step-heading">
			<h2>Get to your success in 3 simple steps</h2>
			<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, coniam voluptua.</p>
		</div>
		<div class="step-devider">
			<div class="divider"></div>
			<div class="row">
				<div class="col-md-4">
					<div class="step-element-inner">
						<a href="#" class="hvr-ripple-out">1 </a>
						<h4>Take a free tour and check our videos</h4>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="step-element-inner">
						<a href="#" class="hvr-ripple-out">2 </a>
						<h4>Take a free tour and check our videos</h4>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="step-element-inner">
						<a href="#" class="hvr-ripple-out">3 </a>
						<h4>Take a free tour and check our videos</h4>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="equal categories-element">
	<div class="container">
		<div class="step-heading text-center">
			<h2>Get to your success in 3 simple steps</h2>
			<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, coniam voluptua.</p>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/55x63" alt="Category">
				<h5>Physics</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>Physics</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/63x63" alt="Category">
				<h5>Chemistry</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>Chemistry</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/61x63" alt="Category">
				<h5>Mathematics</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>Mathematics</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/63x57" alt="Category">
				<h5>History</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>History</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/63x63" alt="Category">
				<h5>Geography</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>Geography</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/63x63" alt="Category">
				<h5>Political Science</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>Political Science</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/63x63" alt="Category">
				<h5>History</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>History</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 category">
				<img src="http://placehold.it/63x63" alt="Category">
				<h5>Science</h5>
				<div class="overlay text-center row">
					<p class="col-md-6"><span>93</span>TRAINERS</p>
					<p class="col-md-6"><span>418</span>TUTORIALS</p>
					<div class="overlay-heading">
						<h5>Science</h5>
						<a href="#">ASK DOUBT</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<section class="signup_element-box equal">
	<div class="container">
		<p>ONLINE LEARNING FROM EVERYWHERE</p>
		<h4>Are you ready to start learning?</h4>
		<a href="#" class="blue-btn">SIGN UP TODAY</a>
	</div>
</section>
<!-- End Section -->
<section class="testimonial-element equal">
	<div class="container">
		<div class="step-heading text-center">
			<h2>What satisfied users say</h2>
			<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, coniam voluptua.</p>
		</div>
		<div class="testimonials-outer">
				<ngx-slick class="carousel" #slickModal="slick-modal" [config]="testimonialConfig" >
		
			
						<div ngxSlickItem *ngFor="let slide of testimonial" class="slide ">
							 
								<div class="testimonials text-center " >
										<img src="{{slide.img}}" alt="Avatar">
										<p class="name">{{slide.heading}}</p>
										<em>
											{{slide.content}} 
										</em>
									</div>
						
						</div>
					
					</ngx-slick>
		
			
		</div>
	</div>
</section>

<section class="why-choose equal">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="step-heading">
					<h2>Why to choose us</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<h6>More than 1000+ video tutorials in our library</h6>
				<p>
					Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
					nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat.
				</p>
			</div>
			<div class="col-md-8 col-sm-12">
				<h6>Learn form our professional and educated teachers </h6>
				<p>
					Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
					nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat.
				</p>
			</div>
			<div class="col-md-8 col-sm-12">
				<h6>Become an expert in your business</h6>
				<p>
					Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
					nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat.
				</p>
			</div>
		</div>
	</div>
</section>
 <!-- <footer class="ftr-element">
<div class="container">
<div class="row">
<div class="col-md-4 text-center">
<figure><img src="./assets/images/logo.png" alt="Logo" style="width:100px;"></figure>
<p class="social-icon">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-youtube"></i></a>
<a href="#"><i class="fab fa-vimeo-v"></i></a>

</p>
</div>
<div class="col-md-4">
<div class="ftr-block">
<h4>Contact info</h4>
<ul>
<li><i class="fas fa-phone-volume"></i> (+61 2) 9251 5600</li>
<li><i class="fas fa-envelope"></i> longnguyenngoc@gmail.com</li>
<li><i class="fas fa-map-marker-alt"></i>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
</ul>
</div>
</div>
<div class="col-md-4">
<div class="ftr-block">
<h4>latets tweets</h4>
<p>FREE! Since Feb2016 #activeden closed by  &copy;EnvatoMarket  now you can download my #flash #animation for #free <a href="#">https://t.co/fZv7VCgHto #freebie</a></p>
</div>
</div>
</div>
</div>
</footer>  -->
<app-footer></app-footer>