.hero-element {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:100%; 
}
.hero-element .home-header{ 
    position: absolute;
    top: 0;
    width: 100% !important;
}
.hero-element .slick-slide img 
{
    width:100%;
} 
.testimonial-element .slick-slide img {

    margin: 0px auto;
}
