<app-mainheader></app-mainheader>
<section>
    <div class="step-heading text-center">
        <h2>Would you like to register as a student or a teacher</h2>
    </div>
</section>
<section class="user_register-element">
  <div class="container">
     
    <div class="row">
      <div class="col-md-6">
        <div class="user_register text-center">
          <figure><img src="../../assets/images/student.PNG" alt="student" /></figure>
          <a routerLink="/signup" class="blue-btn">I am Student</a>
			<!-- <a routerLink="/tsignup" class="blue-btn">I am Teacher</a> -->
        </div>
      </div>
      <div class="col-md-6">
          <div class="user_register text-center">
              <figure><img src="../../assets/images/teacher.PNG" /></figure>              
          <a routerLink="/tsignup" class="blue-btn">I am Teacher</a>
            </div>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>